[2017-06-20 07:31] bersace opened #6 "Configuration file"

[2017-06-20 07:31] bersace opened #7 "Commande line options"

[2017-06-20 07:31] bersace opened #8 "Documentation"

[2017-06-20 14:37] bersace opened #11 "Add dry run"
Add a dry run mode. Ensure log output is effective.

[2017-06-20 15:34] bersace opened #13 "Support LDAP TLS"

[2017-06-20 15:44] #6 closed

[2017-06-20 16:59] #11 closed

[2017-06-29 05:55] #7 closed

[2017-06-30 07:48] #8 closed

[2017-07-06 13:07] bersace opened #54 "Add role_match to grant rule"
Add a simple conditionnal againts role name to grant rule.

[code]

[2017-07-07 08:40] #54 closed

[2017-07-10 07:46] bersace opened #61 "Support LDAP server pool"
Allow to define multiple LDAP servers

[2017-07-11 14:52] bersace opened #67 "Support SASL"

[2017-07-13 08:41] #13 closed

[2017-07-17 07:36] #67 closed

[2017-07-20 12:07] bersace opened #83 "Add check mode"
It's exactly like dry run, but exists with error if something needs to be done. This allow to check whether something changed or if `inspect` queries are wrong.

[code]

[2017-07-20 12:46] bersace commented on #61
Since we migrated to https://github.com/pyldap/pyldap, this should be supported through `LDAPURI`.

[2017-07-20 12:46] #61 closed

[2017-07-20 12:46] bersace opened #84 "Support more SASL mechanism"
For now, `ldap2pg` is limited to `DIGEST-MD5`, we should add more mechanism like `GSSAPI`, etc.

Please ask here which mech you need !

[2017-08-05 09:29] devrimgunduz opened #87 "Support setuptools version shipped with RHEL 7"
Hi,

This package builds fine on my Fedora 26 box, but I'm having issues on RHEL 6, RHEL 7 and Fedora 25.

`-bash-4.2$ python setup.py bdist
running bdist
running bdist_dumb
running build
installing to build/bdist.linux-x86_64/dumb
running install
running install_egg_info
running egg_info
writing requirements to UNKNOWN.egg-info/requires.txt
writing UNKNOWN.egg-info/PKG-INFO
writing top-level name

[2017-08-09 16:28] bersace commented on #87
Hi @devrimgunduz

You need a recent `setuptools` that supports `setup.cfg` metadata.

[2017-08-10 14:24] bersace commented on #87
@devrimgunduz Here is how i build a `rpm` : https://github.com/dalibo/ldap2pg/blob/master/packaging/build_rpm.sh . Does this help you ?

[2017-08-22 13:33] julmon opened #88 "Add whitelist"
Hi,

We need to filter out the list of PG roles (returned by `SyncManager.fetch_pg_roles()`) by group (parent) name.

Maybe we could add a new parameter in `postgres` section of the configuration file : `whitelist`

With this parameter, we'll be able to fetch (and sync!!) PG roles only from groups like this:
[code]

Thoughts ?

[2017-09-04 07:55] bersace opened #89 "Manage one instance with several config files"
As a Sysadmin, I need to manage one Postgres instance with several file config (e.g. to use different LDAP directory, different Postgres access, whatever).

### Proposal

The key point is to *scope* roles managed by the config file. This could be done by customizing the `SELECT` query that inspect roles in Postgres instance.

[code]

This is the default query.

`postgres:blacklist` is still applie

[2017-09-04 08:18] bersace commented on #89
cc @julmon

[2017-09-04 08:25] bersace commented on #88
Some comments:

- what is the acutal purpose/use case of this feature ? (The why, not the how). Some background would be useful to design the best proposal together.
- ldap2pg does not manage *group* or *users*, only roles. That's a new concept in ldap2pg. How do you distinguish groups from users ? A role with `LOGIN` can have members too. There is no technical restriction.
- when you whitelist a

[2017-09-04 12:21] bersace commented on #88
Actually, you can just now write a whitelist with *static* roles, like this:

[code]

This can't managed wildcard.

[2017-09-04 12:26] bersace commented on #87
Hi @devrimgunduz , do you have some update on this ? I can make `setup.py` compatible with setuptools shipped with RHEL 7.

[2017-09-04 12:33] devrimgunduz commented on #87
Hi @bersace . Apologie for the late response, I missed your previous comment. That does not help, because RPM builds are not allowed to install anything external, like pip

FWIW, I build similar packages which use setup.cfg, on RHEL 6 and RHEL 7, like psycopg. What is different in ldapfdw?

[2017-09-04 13:54] bersace commented on #87
Ok, I have to make it compatible.

`ldap2pg` puts *metadata* in setup.cfg, following the effort of pypa to be able to build python package without boilerplate (only a setup.cfg). That's just a nice to have. See http://setuptools.readthedocs.io/en/latest/history.html#v30-3-0

setuptools is quite active. But let's support RHEL 7 setuptools.

[2017-09-05 08:31] bersace commented on #87
Hi @devrimgunduz I uploaded ldap2pg 2.1a1 with #90 merged. Can you test it ?

[2017-09-05 10:27] #83 closed

[2017-09-05 11:54] #89 closed

[2017-09-14 05:32] bersace commented on #88
Closing in favor of #93

[2017-09-14 05:32] #88 closed

[2017-09-15 05:51] bersace commented on #87
@devrimgunduz version 3.0 is shipped with the fix. Please reopen if you still encounter error ! Regards.

[2017-09-15 05:51] #87 closed

[2017-09-15 08:43] devrimgunduz commented on #87
Hi,

Thank you! I built and pushed the RPMs. They will be available in next 40 mins.

Regards, Devrim

[2017-09-21 08:56] bersace opened #104 "Support multiple LDAP servers"
For High availability ! :-)

[2017-10-09 14:45] #104 closed

[2017-11-11 15:20] dirks opened #114 "manager.py chokes on special characters in dn"
If the distinguished name of a user contains special characters, e.g. `CN=Markus Gräßer,OU=my_group,dc=example,dc=com` (name changed), execution of ldap2pg fails in apply_role_rules. The following error is thrown:

[code]

I worked around it by changing apply_role_rules
[code]
The decoding line is a shameless copy from https://stackoverflow.com/a/6956914 (my python is limited).

This is on Centos

[2017-11-13 07:47] bersace commented on #114
Hi @dirks Thansk for pointing this ! I'm checking this.

[2017-11-13 09:22] bersace commented on #114
@dirks, I'm missing something. Can you show me LDIF entry and `ldap2pg.yml` stanza to help me reproduce the bug ?

[2017-11-13 10:51] dirks commented on #114
@bersace,  I changed a few values to make the entries anonymous in the example below. If you need an original entry I will send it via mail if that is fine with you. I did not notice earlier that the dn returned by ldapsearch is given as base64 string, if it contains Umlaute (ä, ß in this case).

[code]

[code]

[2017-11-13 10:57] bersace commented on #114
@dirks yes, LDIF stores `UTF-8` as base64 with `::` as prefix like `dn:: …`. I'm checking this.

[2017-11-13 11:11] bersace commented on #114
[code]

That looks ugly :/

Thanks for the base64. This looks easy to decode:

[code]

(I just need one decode).

I still can't reproduce :/

Can you modify ldap2pg and reproduce with the following code in `apply_role_rules`:

[code]

Danke schön :-)

[2017-11-13 11:14] bersace commented on #114
@dirks That's strange to have a `\n` in `dn`.

[2017-11-13 12:29] dirks commented on #114
The `\n` is an artifact from the name change. I used base64 from coreutils for the en/decoding and the input finished with a newline. Inside python I get the correct dn `Q049TWFya3VzIEdyw6TDn2VyLE9VPUFkbWlucyxPVT1FbXBsb3llZXMsT1U9QUFJLERDPWV4YW1wbGUsREM9Y29t`. I sent you the original LDIF via mail.

Here is the error thrown when using raw `raise`.

[code]

[2017-11-13 12:34] dirks commented on #114
I noticed the error with users containing ä, ö, ü, ß, é in the CN part of dn.

[2017-11-13 13:08] bersace commented on #114
Good news ! I reproduced it. It's related to python 2.7:

[code]

[2017-11-13 15:37] bersace commented on #114
@dirks i just release 3.2 with the fix from #115 Can you test it ?

[2017-11-13 17:42] dirks commented on #114
@bersace, yes the dry run works as expected. I continue deployment and testing this week. Thanks a lot. :)

[2017-11-13 17:42] #114 closed

[2017-11-23 12:10] canlar opened #124 "ldap connect problem"
I have Redhat 7 with python 2.7.5 an ldap2pg 3.3

[code]

If i use user and Passwort i get this error:

[code]

With ldapsearch command give user and password with option -x i get not error.
How can i config ldap connection to use user and password with simple bind ?

[2017-11-23 16:35] bersace commented on #124
Hi @canlar thanks for reporting this !

[2017-11-23 16:36] bersace commented on #124
@canlar can you show me a `ldapsearch` example without password ?

[2017-11-23 16:38] bersace commented on #124
That would be nice if `ldap2pg` logs a `ldapwhoami` commands to test how it is authenticating with LDAP.

[2017-11-23 16:41] bersace commented on #124
I see that `ldap2pg` reads twice `ldaprc`, that's not a bug, but could be improved.

[code]

[2017-11-24 07:19] canlar commented on #124
[ldap2pg.manager      INFO] Querying LDAP cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=xxxx,DC=cnb...
[ldap2pg.ldap        DEBUG] Doing: ldapsearch -x -b cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=xxxx,DC=cnb -s sub '(objectClass=groupOfNames)' member
[ldap2pg.script   CRITICAL] Failed to query LDAP: {'info': '000004DC: LdapErr: DSID-0C0907C2, comment: In order to perform this oper

[2017-11-24 09:02] bersace commented on #124
@canlar yes, `user` parameters triggers SASL while only `binddn` triggers simple auth.

This is not the `Invalid Credentials` error.

[2017-11-24 09:04] bersace commented on #124
@canlar what is the server ? OpenLDAP or Active Directory ?

[2017-11-24 09:49] canlar commented on #124
Active Directory

[2017-11-24 12:43] bersace commented on #124
Ok, I need to check this in details. There might be some tweak for Active Directory. cf. https://blog.thomastoye.be/python-ldap-authentication-with-microsoft-active-directory-46661bebc483

[2017-11-24 13:35] canlar commented on #124
If i not set domainname in ldapsearch command i get error.

ldap_bind: Invalid credentials (49)
        additional info: 80090308: LdapErr: DSID-0C090404, comment: AcceptSecurityContext error, data 525, v1772

IF i set user@domain.cnb when ldapsearch is sucessfull
ldapsearch -x -H ldap://xxx.cnb:389 -L -D 'user@xxx.cnb' -W -b 'CN=manager,OU=Groups,OU=IAM,OU=_DomainOperations,DC=xxxx,DC=cnb' member

[2017-11-24 14:19] bersace commented on #124
Thanks for the point !

[2017-11-24 14:22] bersace commented on #124
Hmm, so you have to set `user@domain.cnb` as `binddn` ? Can you put this in `LDAPBINDDN` env var or in the file. That strange because the value should be read properly from `ldaprc`.

[2017-11-24 15:54] cbandy commented on #124
I am able to connect to the Active Directory server to which I have access.

@canlar, the `-D` argument to `ldapsearch` corresponds to the `binddn` key in `ldap2pg` YAML. Try the following:

[code]

[2017-11-27 08:56] canlar commented on #124
now is working
ldap:
  binddn: userxxx

[2017-11-27 08:57] #124 closed

[2017-11-27 08:57] bersace commented on #124
@canlar. Is `ldap:binddn` value the same as `ldaprc:BINDDN` ?

[2017-11-27 09:09] canlar commented on #124
I have renamed ldaprc and configure only the yaml file.

-bash-4.2$ DEBUG=Y ldap2pg -c ldap2pg.minimal.yml
[ldap2pg.script      DEBUG] Debug mode enabled.
[ldap2pg.config      DEBUG] Processing CLI arguments.
[ldap2pg.config       INFO] Starting ldap2pg 3.3.
[ldap2pg.config      DEBUG] Trying ldap2pg.minimal.yml.
[ldap2pg.config       INFO] Using /var/lib/pgsql/ldap2pg.minimal.yml.
[ldap2pg.config

[2017-11-27 16:29] canlar opened #125 "minimal configuration to sync ldap group member to postgres"
Can you give a minimal configuration example for sync of ldap Group members to postgres.

I have created a ldap Group with two members.
And create some user in postgres database.

i want to get ldap Group members and only members of this Group should be add or remove from postgres database.

[code]

[code]

But i expect that user in ldap to be add to postgres.

[2017-11-28 09:02] canlar commented on #125
First Problem is: script get no member from ldap.
ldap connect is wrong or not working
[ldap2pg.manager      INFO] Querying LDAP cn=bs.u.appm_manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=bayer,DC=cnb...
[ldap2pg.ldap        DEBUG] Doing: **ldapsearch -x -W -b cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=company,DC=cnb -s sub '(objectClass=groupOfNames)' member****
[ldap2pg.manager     D

[2017-11-28 10:39] bersace commented on #125
Hi @canlar. ldap2pg don't create roles implicitly. Here is how to create groups and user roles:

[code]

[2017-11-28 10:41] bersace commented on #125
@canlar you have a meaningful warning :

[code]

This is because `__all__:` is at the same level of `sync_map`. I my example, i drop `__all__`.

FYI, use a YAML list for sync_map, don't bother with database (`__all__`) or schema. It's actually pretty useless.

[2017-11-28 10:52] bersace commented on #125
I need to update documentation about this topic. Please keep this issue open :-)

[2017-11-28 16:03] canlar commented on #125
ldapsearch give empty memberlist.
I cant get memberlist with this execited command in ldap2pg
ldapsearch -x -W -b cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=company,DC=cnb -s sub '(objectClass=groupOfNames

For AD i think it must be implemented with this option ldapsearch command..
-D 'ad-company-cnb\username'

-bash-4.2$ ldapsearch -x -H ldap://company.cnb:389 -L -D 'ad-company-cnb\usern

[2017-11-28 16:54] bersace commented on #125
@canlar , what if you remove `filter: "(objectClass=groupOfNames)"` from YAML ?

[2017-11-29 14:37] EagleEnergy opened #128 "Generate role with sAMAccountName from each user of a group"
Hi,
We have already sharing about my problem with @bersace.
So you send me this config for sync_map:

[code]

I had adapted this config like this:

[code]

I had change "groupename and member" attributes because they are not recognized by AD.

So after start ldap2pg in dry mode, the script would create role for all users in OU Users but not only users member of my specified group.

Maybe I need to

[2017-11-29 14:40] bersace commented on #128
I'm thinking of a *join* feature to generate member lists. Something like:

[code]

[2017-11-29 14:52] EagleEnergy commented on #128
I don't know if this is the right usage for your configuration but if I try like this:
[code]
the script was in error:

[code]

[2017-11-29 15:04] cbandy commented on #128
If you want to limit the users to a particular AD group, maybe put that group in the filter?

untested:
[code]

[2017-11-29 15:14] EagleEnergy commented on #128
@cbandy Done!
Thanks you so much it's working fine.

While we're at it maybe someone know a to authenticate my users in phppgadmin with PAM.
This why I needed to use sAMAccountName. At the moment I can use PAM to authenticate user only in ssh.

[2017-11-29 15:46] bersace commented on #128
@EagleEnergy i did a typo in GitHub markdown that broke the indentation. however, this was a *mock*, just to show what ldap2pg *would* allow in a future version.

[2017-11-29 16:55] EagleEnergy commented on #128
Ho ok sorry @bersace.

So thanks for you two guys, now I can broke my brain with ACL properly

[2017-11-30 12:46] canlar commented on #125
sucessfull ldapsearch command to get m,ember of ldap group is this.
ldapsearch -x -H ldap://de.company.cnb:389 -L -D 'username' -W -b 'CN=manager,OU=Groups,OU=IAM,OU=_DomainOperations,DC=bayer,DC=cnb' member

ldap:
  uri: ldap://de.compnay.cnb:389
  binddn: 'username'
  password: "password"

postgres:
  dsn: postgres://usernamepg:password@hostname.de.company.cnb:5432/
# List of glob patterns to ex

[2017-11-30 15:47] EagleEnergy opened #129 "ACL configuration for create rights GRANT"
Hi so sorry I don't understand how to use ACL for generate GRANT options I need for my roles.

I have created this groups in my Active Directory:

Database1_ro
Database1_rw
Database2_ro
Database2_rw
Global_rw
Global_ro

So for exemple each users in Database1_ro need to have read privileges on Database1 only.
I think I need to generate this: GRANT CONNECT ON Database1 TO rolename.

I have use this

[2017-11-30 15:51] #128 closed

[2017-12-01 08:23] bersace commented on #128
@EagleEnergy no worry :-)

[2017-12-01 08:27] bersace commented on #129
Hi @EagleEnergy

I suggest you to define ACL at group level.

[code]

You may want to use `role_match` parameter as described at http://ldap2pg.readthedocs.io/en/latest/config/#grant-parameters

[2017-12-01 08:34] bersace commented on #125
@canlar, thanks for the report !

You have an identation typo:

[code]

[2017-12-01 08:34] bersace commented on #125
I'm updating ldap2pg to have meaningful error in such case

[2017-12-01 08:47] bersace commented on #125
@canlar if you are not à l'aise with YAML, you can just write plain JSON.

[code]

YMMV

[2017-12-01 08:59] canlar commented on #125
-bash-4.2$ DEBUG=Y ldap2pg -c ldap2pg.minimal.yml
[ldap2pg.script      DEBUG] Debug mode enabled.
[ldap2pg.config      DEBUG] Processing CLI arguments.
[ldap2pg.config       INFO] Starting ldap2pg 3.3.
[ldap2pg.config      DEBUG] Trying ldap2pg.minimal.yml.
[ldap2pg.config       INFO] Using /var/lib/pgsql/ldap2pg.minimal.yml.
[ldap2pg.config      DEBUG] Read color from YAML.
[ldap2pg.config      D

[2017-12-01 09:01] bersace commented on #125
@canlar hmm, can you send me the full `DN` ?

[2017-12-01 09:11] bersace commented on #125
@canlar i reproduced it. You should use `member.cn` not `cn.member` ;-)

[2017-12-01 09:11] bersace commented on #125
Updating ldap2pg to provide meaningful error

[2017-12-01 09:25] canlar commented on #125
color: yes
dry: yes

ldap:
  uri: ldap://de.company.cnb:389
  binddn: 'username'
  password: "xxxxxxx"

postgres:
  dsn: postgres://username:xxxxx@hostxyz.de.company.cnb:5432/
# List of glob patterns to exclude external roles.
  blacklist: [username,postgres, pg_*]

sync_map:
  - ldap:
      base: cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=compnay,DC=cnb
    role: [{
    name_attribute: m

[2017-12-01 09:50] EagleEnergy commented on #129
This change nothing or I use it unproperly.

To understand, I propose to you to generate the good config for just one user and next when is validated trying to addapt for my case :)  Sorry but the ACLs are trouble for me.

So I have foudn this "simple" acl :
[code]

And try to affect it for user in sync_map:

[code]

So can you explain to me why this didn't working?
I think is a the simplest defin

[2017-12-01 10:10] bersace commented on #125
@canlar You must ask ldap2pg to fetch `member` in ldap query.

[2017-12-01 10:17] EagleEnergy commented on #129
In dry mode I think it's working properly:

[code]
So I run without dry mode.
The role was created:

[code]
But there are no information about a grant execution.
Maybe the problem was linked to this error ?:

[code]

[2017-12-01 10:36] bersace commented on #129
@EagleEnergy this example is tested on CI on CentOs 6 and 7 : https://github.com/dalibo/ldap2pg/blob/master/tests/func/ldap2pg.acl.yml

I agree i should provide sample with group, since assigning ACL to group is the way to go.

[2017-12-01 10:58] EagleEnergy commented on #129
the part of the solution was in this:
`roles_query: null`
:rofl:

But now the result is.... amazing:

[code]
I will try to create my databases without caps.

[2017-12-01 11:00] bersace commented on #129
[code]

database are caseless. I'll fix that.

[2017-12-01 11:03] EagleEnergy commented on #129
Yes it's good ! It's working perfectly without caps.

Think you so much !

Do you need informations about my config to give an example of validated integration?

[2017-12-01 11:20] canlar commented on #125
How can I ask ldap2pg to fetch the ldap members?

Can you please write the minimal configuration ldap ldap2pg.minimal.yml

Querying LDAP cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=company,DC=cnb...
[ldap2pg.ldap        DEBUG] Doing: ldapsearch -x -W -b cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=bayer,DC=cnb -s sub '(objectClass=groupOfNames)' member
[ldap2pg.manager     DEBUG] Go

[2017-12-01 12:32] bersace commented on #125
@canlar `member` ist ein attribute. Sie müssen definieren `attributes: [cn, member]`.

[code]

[2017-12-01 12:34] bersace commented on #129
Ouaip, pas courriel je veux bien.

[2017-12-01 12:54] bersace commented on #129
@EagleEnergy

[code]

Databases are case sensitive. This may depends on the operating system. I think that `database "database1" does not exist` is a good error message.

[2017-12-01 13:28] canlar commented on #125
With Parameter scope:sub  i get the member list. Thanky you very much.

But i have new question.
Thank you now I can get memebers from ldap

Before I execute the script for testing.
I have added testuser and test123 in AD as member of ldap group **manager**
Postgres DB: manualy create test2,testuser and DEMO_SST (superusers admins belongs to this group) in postgres database. (NOT CREATE test123)

[2017-12-01 14:24] bersace commented on #125
@canlar, there is a recipe in documentation for partial synchronization : http://ldap2pg.readthedocs.io/en/latest/cookbook/#dont-synchronize-superusers

The idea is to customize the role inspection query to returns only roles that `ldap2pg` is allowed to drop.

[2017-12-05 13:33] canlar commented on #125
I have change the SQL Statement to sync **only superusers**.
I would like only memername bute get full entry from ldap an can't create in postgres the member Name.
  roles_query: |
    SELECT
        role.rolname, array_agg(members.rolname) AS members,
        {options}
    FROM
        pg_catalog.pg_roles AS role
    LEFT JOIN pg_catalog.pg_auth_members ON roleid = role.oid
    LEFT JOIN pg_catal

[2017-12-05 13:37] bersace commented on #125
@canlar see http://ldap2pg.readthedocs.io/en/latest/config/#role-parameters

You can specify `member.cn` to get `userxxx` from `cn=userxxx,ou=users,...`

[2017-12-05 13:43] canlar commented on #125
I tried for attribute: member.cn
- ldap:
    base: cn=bs.u.appm_manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=bayer,DC=cnb
    scope: sub
    attributes: member.cn

[ldap2pg.manager     DEBUG] Postgres inspection done.
[ldap2pg.manager     DEBUG] Working on schema __all__.__any__.
[ldap2pg.manager     DEBUG] Found role demo_sst from YAML.
[ldap2pg.manager     DEBUG] Working on schema __all__.__

[2017-12-05 13:57] bersace commented on #125
@canlar :  `member.cn` is a ldap2pg shortcut to access CN from a DN. You have to fetch full LDAP attribute `member` and then extract `cn`.

[code]

[2017-12-06 08:55] canlar commented on #125
This is my file and get still same error.

sync_map:
- role:
   name: DEMO_SST
   options: NOLOGIN SUPERUSER
- ldap:
    base: cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=company,DC=cnb
    scope: sub
    attribute: member
  role:
    name_attribute: member.cn
    options: LOGIN
    parent: DEMO_SST

[ldap2pg.manager      INFO] Querying LDAP cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations

[2017-12-06 09:03] bersace commented on #125
Hallo @canlar

What is the output of `ldapsearch -x -W -b cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=bayer,DC=cnb -s sub '(objectClass=*)' member` ?

[2017-12-06 09:06] canlar commented on #125
[ldap2pg.manager      INFO] Querying LDAP cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=company,DC=cnb...
[ldap2pg.ldap        DEBUG] Doing: ldapsearch -x -W -b cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=company,DC=cnb -s sub '(objectClass=*)' member
[ldap2pg.manager     DEBUG] Got 1 entries from LDAP.

[2017-12-06 09:07] bersace commented on #125
@canlar i need `member: ...` entries from `ldapsearch`, not ldap2pg log.

[2017-12-06 09:09] canlar commented on #125
ldap:
  uri: ldap://de.company.cnb:389
  binddn: 'ldapuser'
  password: "ldappass"

[2017-12-06 09:11] canlar commented on #125
This my whole file:

color: yes
dry: yes

ldap:
  uri: ldap://de.company.cnb:389
  binddn: 'ldapuser'
  password: "ldappass"

postgres:
  dsn: postgres://user:pass@host:5432/
# List of glob patterns to exclude external roles.
  blacklist: [postgres, pg_*,demo_sst]
  roles_query: |
    SELECT
        role.rolname, array_agg(members.rolname) AS members,
        {options}
    FROM
        pg_catalog.

[2017-12-11 12:46] canlar commented on #125
Do you have an idea what is wrong in my sync_map file or how to get ldapsearch query result

[2017-12-11 13:23] gregn610 opened #132 "hello from pаdnаg.io"
I had no idea this project existed, otherwise I might not have started pаdnаg.io  :)

Anyways congratulations on your release and it looks excellent.

Best,
/g

[2017-12-11 13:35] bersace commented on #132
Hi @gregn610 Thanks for pointing this ! I'm checking this :-)

[2017-12-11 13:42] bersace commented on #125
Hallo @canlar the `sync_map` looks good. Can you show me the full log output ?

[2017-12-11 14:23] canlar commented on #125
-bash-4.2$ DEBUG=1 ldap2pg -c ldap2pg.minimal.yml
[ldap2pg.script      DEBUG] Debug mode enabled.
[ldap2pg.config      DEBUG] Processing CLI arguments.
[ldap2pg.config       INFO] Starting ldap2pg 3.3.
[ldap2pg.config      DEBUG] Trying ldap2pg.minimal.yml.
[ldap2pg.config       INFO] Using /var/lib/pgsql/ldap2pg.minimal.yml.
[ldap2pg.config      DEBUG] Read color from YAML.
[ldap2pg.config      D

[2017-12-11 14:24] bersace commented on #125
@canlar hmm, it's a case bug. Try `member.CN` as workaround.

[2017-12-11 14:34] canlar commented on #125
i have set

sync_map:
- ldap:
    base: "cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=compnay,DC=cnb"
    scope: sub
    attribute: member.cn
  role:
    name_attribute: member.cn
    options: LOGIN SUPERUSER

Output came sam error
[ldap2pg.manager      INFO] Querying LDAP cn=manager,ou=Groups,ou=IAM,ou=_DomainOperations,DC=company,DC=cnb...
[ldap2pg.ldap        DEBUG] Doing: ldapsearch -x

[2017-12-11 14:43] bersace commented on #125
@canlar By `member.CN` i mean upper case CN. It's not an emphasis of mine.

[code]

[2017-12-12 10:31] canlar commented on #125
Ok now ist working fine.
Thank you very much.
Should i Close the issue

[2017-12-12 10:57] bersace commented on #125
@canlar wunderbar :-) Let's close !

[2017-12-12 10:59] #125 closed

[2017-12-15 10:04] canlar opened #142 "sync_map user with with ROLE postgreadmin and SUPERUSER role"
Hi,

i am testing and have removed from ldap group one user.
i want that ONLY ldapgroup member AND postgresadmins member should be sync.

If i run ldap2pg the deleted user from ldapgroup was not deleted from postgres.
And it will be recreate the already exist user and give error.

[code]

without dry modus logfile  it gives me CRITICAL ERROR

[code]

config file

[code]

Why ldap2pg will create us

[2017-12-15 10:27] bersace commented on #142
@canlar `roles_query` will returns only the single role `postgresadmins` but you tell ldap2pg to create roles for each member with `name_attribute: member.CN`. That's not compatible. `roles_query` must returns roles that ldap2pg created or else ldap2pg can't known they are already created.

[2017-12-18 13:39] bersace commented on #142
Closing. @canlar please reopen if you find a bug in ldap2pg :-)

[2017-12-18 13:39] #142 closed

[2017-12-21 08:47] bersace commented on #129
@EagleEnergy http://ldap2pg.readthedocs.io/en/latest/wellknown/ should fix te issue. Let me know :-)

[2017-12-21 08:47] #129 closed

[2018-01-04 12:17] canlar commented on #142
Hi,

i changed my config file:

# List of glob patterns to exclude external roles.
  blacklist: [postgres, pg_*, postgresadmins]

#Synchronize ONLY Superusers/DB Admins
#we don't touch application user
  roles_query: |
    SELECT
        role.rolname, array_agg(members.rolname) AS members,
        {options}
    FROM
        pg_catalog.pg_roles AS role
    LEFT JOIN pg_catalog.pg_auth_members ON ro

[2018-01-04 12:57] bersace commented on #142
@canlar postgresadmins is not superuser while `roles_query` only returns superusers.

[2018-01-04 13:24] canlar commented on #142
but it will be recreated by ldap2pg.
Why

[2018-01-04 13:26] bersace commented on #142
`roles_query` tells ldap2pg what roles are in the cluster. If `postgresadmins` is not returned, `ldap2pg` consider it as missing.

[2018-01-04 13:30] canlar commented on #142
ok, thanks

[2018-01-15 11:11] dirks opened #156 "Users in multiple ldap groups are assigned to only one postgresql group"
I have the following scenario:
- multiple databases
- database a should be writable by users from ldap group 1
- database b should be writable by users from ldap group 2
- there are users which are in both groups

I tried to realize this with the following ldap2pg.yml

[code]

Expected behaviour:
- users in cn=g_r_postgres01-test and cn=g_r_postgres01-test2 end up in test1_writer and test2_writer

[2018-01-15 11:17] bersace commented on #156
Thanks @dirks  for the report. It's a bug !

`ldap2pg` does not merge two definitions of on roles.

@dirks I'm wondering what to do with options if they differ. For now, I should consider this a configuration error.

[2018-01-15 15:22] bersace commented on #156
@dirks it's fixed in master. I'm cooking a new release.

[2018-01-15 15:29] bersace commented on #156
@dirks it's in : https://pypi.python.org/pypi/ldap2pg . Can you confirm the fix and close the issue ?

[2018-01-15 21:02] dirks commented on #156
@bersace thanks a lot for the fast fix. Works great!

[2018-01-15 21:02] #156 closed

[2018-01-17 13:52] raiviskrumins opened #158 "Support for PG 9.4"
Currently running on pg 9.4 I receive this error msg:
[code]
Postgres 9.4 doesn't have field `rolbypassrls` https://www.postgresql.org/docs/9.4/static/view-pg-roles.html

[2018-01-17 13:55] raiviskrumins commented on #158
Currently running on pg 9.4 I receive this error msg:
[code]
Postgres 9.4 doest have field `rolbypassrls` https://www.postgresql.org/docs/9.4/static/view-pg-roles.html

[2018-01-17 13:58] bersace commented on #158
@raiviskrumins thanks for the report. `ldap2pg` should support 9.4, i confirm it's a bug :-)

[2018-01-18 15:29] bersace commented on #158
@raiviskrumins you can check ldap2pg 4.2 with Postgres 9.4 support. Can you close the issue once you confirmed this to work ?

[2018-01-24 12:48] dirks opened #164 "Unknown attribute u'samaccountname' after drop of attributes parameter in 4.2"
Unknown attribute u'samaccountname' after drop of attributes parameter in 4.2

With release 4.2 the attributes parameter was dropped from the ldap part of the configuration. Here this results in in critical `Unknown attribute u'samaccountname'` errors directly after the ldap search.

4.1 log

[code]

4.2 log

[code]

It might(!) be related to the base search string. The users are in …,ou=AAI,dc… w

[2018-01-24 14:19] dirks opened #165 "acls not cycled over pg_catalog by default"
I tried to follow along the examples in the documentation to create a group of ddl users. But they are not able to create a database:

[code]

Granting usage on pg_catalog schema resolves the issue.

[code]

[code]

It seems that acls are not applied to schema pg_catalog, neither default nor when explicitly stating `schema: __all__`. Applying an acl explictly to pg_catalog works, e.g. adding the f

[2018-01-24 15:48] bersace commented on #164
Hi @dirks thanks for reporting.

Looks like `ldap2pg` properly detect that `sAMAccountName` has to be queried. That's cool. Both `ldapsearch` queries are exactly the same and 3 entries are return in both cases. That may be a bug about attribute name case. I'll invistigate this.

Can you show me the working `ldapsearch` command ?

[2018-01-24 15:54] bersace commented on #165
Hi @dirks.

Yes, `ldap2pg` excludes `pg_*` schemas when inspecting schemas. I'm wondering if it's a sane default to have `pg_catalog` in `__all__`.

According to https://www.postgresql.org/docs/current/static/sql-grant.html , `GRANT USAGE` does not allow creating objects on a schema.

I plan to add `postgres:schema_query` setting to customize schema inspection, just like `roles_query`. What do you

[2018-01-24 16:44] dirks commented on #165
Hi @bersace ,

I am not creating objects in pg_catalog, but in public scheme, sorry I should have been more specific. If usage on pg_catalog is missing the user can not create/alter/drop tables in public scheme (and I guess additional schemes). It fails with the error message reported above.

If I omit the explicit acl to pg_catalog there are entries like

[code]

So it seems that grants on pg_* s

[2018-01-24 16:53] dirks commented on #164
Here is the slightly redacted ldapsearch query and output.

[code]

[2018-01-24 17:04] bersace commented on #165
@dirks thanks for the point. I'm reverting this !

[2018-01-25 13:38] joshlk commented on #164
I'm getting this issue as well. I debugged the ldap2pg code and I think this is the issue:

https://github.com/dalibo/ldap2pg/blob/1281c3d27cc8403175d1c1b4b7c0e5dac03b139b/ldap2pg/ldap.py#L68

The returned attribute dictionary looks like:
[code]

But as you lowercase the `path` it looks for the key `samaccountname` in the attributes dict and returns an error.

I have only just started using `ldap2

[2018-01-25 13:39] bersace commented on #164
@joshlk Yes, it's a known bug fixed in master. I'm testing master with @dirks. Expect a 4.3 release today or tomorrow.

[2018-01-25 13:39] bersace commented on #164
@joshlk by the way, welcome to `ldap2pg` :-)

[2018-01-25 15:20] bersace commented on #164
It's on PyPI. http://ldap2pg.readthedocs.io/en/latest/changelog/#ldap2pg-43

[2018-01-25 15:21] bersace commented on #158
Let's close. Please reopen if needed.

[2018-01-25 15:21] #158 closed

[2018-01-25 15:22] bersace commented on #165
@dirks that should be good. Can you close it once you're ok ?

[2018-01-25 15:45] #165 closed

[2018-01-25 19:14] joshlk opened #170 "Simple ACL example"
Hi,

I would like to control permissions of the objects in Postgres. Our scenario is that we have one database and I would like all objects (tables, schemas ...) to be accessible to all. My current conf is (the ACL bit is taken from the [cookbook](https://ldap2pg.readthedocs.io/en/latest/cookbook/#read-only-read-write-ddl-groups)):

[code]

As you can see above, all LDAP users are being asinged to

[2018-01-26 07:58] bersace commented on #170
Hi @joshlk

There is a bug in 4.2 around `pg_catalog`, do you use latest release ?

Some notes about your YAML:

- `database` is useless in `role` rules. It's for `grant`
- You grant twice `ddl` to `owners`. Actually, it's granted one per LDAP entry.

About creating schema, it's a good idea. I'm thinking of a `sql:` rule that accept a free SQL snippet and `ldap2pg` injects LDAP attributes into it

[2018-01-26 08:01] joshlk commented on #170
Thanks. I’m using v4.1. What version should I roll back to?

Josh

[2018-01-26 08:02] bersace commented on #170
@joshlk 4.4 is good

[2018-01-26 10:13] joshlk commented on #170
v4.3.1 is currently the latest 😃  Do you mean that or wait until the next version

[2018-01-26 10:29] joshlk commented on #170
Just upgraded to v4.3.1 and using this conf:

[code]

And when navigating the `company_db` database in pgadmin 4 and trying to view the public schema I get this error (from postresql.log):
[code]

Any ideas? Should I wait until the next release? Thanks again for your help 👍

[2018-01-26 10:32] bersace commented on #170
@joshlk right, it's 4.3.1 . should have named it 4.4. sorry :/

Can you send me some verbose logs of ldap2pg ?

[2018-01-26 11:21] joshlk commented on #170
So I created a new database cluster and ran a dry run using the same config as above. I installed v4.3.1 from PyPi but the logs states v4.1 🙃

Here is the log output using the flag `-vv`
[ldap2pg_1.log](https://github.com/dalibo/ldap2pg/files/1667538/ldap2pg_1.log)

[2018-01-26 11:48] bersace commented on #170
[code]

Yes, it's 4.1. You must have 4.3.1 in logs. Do you have multiple version installed ? One in /usr/bin and the other in /usr/local/bin ? Use `locate` or something like that to check this.

[2018-01-26 14:12] joshlk commented on #170
Thanks not sure why v4.1 was installed but thanks for spotting. v4.3.1 is now installed.

This is my current test process:

1. I start a fresh cluster `sudo pg_createcluster 9.6 main`
2. Create a database `company_db` using the role `postgres`
3. Using the below config run ldap2pg:

[code]

The newly created LDAP accounts can browse and create tables, functions and types, but, they can't create a

[2018-01-26 14:23] joshlk opened #171 "Create schema of same name when user is created"
It common to have a schema that the same name as a user in a database. By default, postgres  includes such a schema in its `search_path` automatically, see "[section 5.8.3](https://www.postgresql.org/docs/9.6/static/ddl-schemas.html)" in the docs.

It would be ace to have an option in ldap2pg that would create a schema of the same name when a user is newly created.

Thanks

[2018-01-26 14:24] bersace commented on #170
@joshlk congrats, it's fun :-)

A tip: by default, `ldap2pg` consider superusers as owers. You should customize `owers_query`:

[code]

Checks this query before pasting it in the YAML !

[2018-01-26 14:28] bersace commented on #170
I need to document this. Dont forget to star `ldap2pg` :-)

[2018-01-26 14:55] #170 closed

[2018-01-26 15:06] raiviskrumins commented on #158
Sorry for late response.
Yes, it's working now, thank you.

[2018-01-26 15:08] raiviskrumins opened #172 "Issue with join"
I was using configuration provided in https://github.com/dalibo/ldap2pg/issues/128#issuecomment-347879982, but I got result:
[code]

Is `join` still supported?
Maybe there is another way to get members `sAMAccountName`?

[2018-01-26 15:10] bersace commented on #172
Hi,

`join` is not (yet) supported. If you read carefully the comment, it's a `mock`.

For now, the way to go is `memberOf` which requires to known the groups you want to query. see  https://github.com/dalibo/ldap2pg/issues/128#issuecomment-347887563 in the same issue.

[2018-01-26 15:19] raiviskrumins commented on #172
OK, thank you for clarification

[2018-01-26 15:19] #172 closed

[2018-01-29 08:15] dirks commented on #164
I did not encounter this error in 4.3. and 4.3.1 anymore. So I think the issue can be closed.

@joshlk do you still experience this problem?

[2018-01-29 09:38] joshlk commented on #164
Yes the bug has gone in v4.3.1

[2018-01-29 10:50] bersace commented on #164
Thanks. Let's close :-)

[2018-01-29 10:50] #164 closed

[2018-02-13 08:13] bersace commented on #171
Hi @joshlk actually, you can already do this by hacking the ACL mechanism :-) Just think `grant` as `create` and `revoke` as `drop`. This should look like:

[code]

YMMV

[2018-02-13 13:10] bersace commented on #132
Let's close. Thanks @gregn610 for pointing it.

[2018-02-13 13:10] #132 closed

[2018-02-27 15:54] superette opened #195 "Tiny little bug in blacklist ?"
Hi,

I installed ldap2pg for testing, i don't want to synchronize all my roles and privileges with ldap2pg, but just manage named users on our database, assign to 2 roles : 'dba' and 'analysts'

So i look into the blacklist section and found this problem :

this works :
[code]
this doesn't :
[code]

And get me the following error :
[code]

it seems the issue appear only if the wildcard is put  fir

[2018-02-27 15:58] superette commented on #195
in fact like that, it works

[code]

[2018-02-27 15:58] #195 closed

[2018-02-28 16:30] bersace commented on #84
Let's close until someone need it.

[2018-02-28 16:30] #84 closed

[2018-03-01 12:50] cbandy commented on #195
Ah, yes. A bare word preceded by `*` is a [YAML alias](http://www.yaml.org/spec/1.2/spec.html#id2786196).

[2018-03-01 12:54] bersace commented on #195
@cbandy i added a mention on this gotcha in #200 . YAML error is obvious but still surprising.

[2018-03-14 17:56] bersace opened #201 "Verify managed_roles_query"
After roles are synchronized, `ldap2pg` could check whether `postgres:managed_roles_query` returns all roles as LDAP directory wants.

## Background

`postgres:managed_roles_query` returns the list of droppable roles and roles whose privileges are managed. This query can be tricky with groups. If this query miss some roles, they will never be dropped. We should help users to ensure this query is o

[2018-03-28 15:35] bersace opened #202 "Create Dockerfile"
On docker only platform, having an official ldap2pg Docker image is great.

## Tasks

- [x] Create Dockerfile
- [x] Ensure README on Docker Hub.
- [x] Register automated build in Docker hub.
- [x] Add badge on README
- [x] Document Docker usage

I offer mentorship on this issue :-)

[2018-04-09 09:28] canlar opened #203 "YAML indentation error are not detected"
Hi,

if i write **managed_roles_query** without space in the yml file i get different result.

correct result: space in (indent)
![lda2pg](https://user-images.githubusercontent.com/18144759/38489654-8e518756-3bd6-11e8-80cd-02b1e526ee9a.JPG)
Using /var/lib/pgsql/ldap2pg/ldap2pg.yml.
Running in dry mode. Postgres will be untouched.
Inspecting roles in Postgres cluster...
Querying LDAP cn=bs.a.postgr

[2018-04-09 10:02] bersace commented on #203
Hallo @canlar .

Why didn't you indent the value ? Did you expect it to work or did you find this in documentation ?

Indentation is meaningful in YAML. If you are not confortable with YAML, you can use plain JSON.

`ldap2pg` is permissive in YAML value to be forward compatible. Maybe a warning would help you to debug such issue ?

[2018-04-09 10:55] canlar commented on #203
Hi @bersace,

i can use indent in the file.
I am wondering that i get different result **depends from indent** of the row mamage_roles_query.
second option without indent ignore my select statement and give/drop user that are not superuser.

[2018-04-09 11:44] bersace commented on #203
@canlar , i **repeat** :

[code]

Is different from

[code]

Please keep the issue opened. I will update documentation with hint, warnings and point to YAML documentation.

[2018-04-12 08:25] canlar commented on #203
Hi @bersace,

i think there is an error.

If we define only the row managed_roles_query without a select Statement for the whitelist so i get an "Default" execution of select statement for user sync.
all users without superuser role will be deleted,

Same resul(sync/delete all user without superuser role) t you get if i not have  a indent in row managed_roles_query.

I think the default behavior o

[2018-04-12 08:32] canlar commented on #203
If i defined empty managed_roles_query: user king will be **_deleted,_**

[ldap2pg.psql         DEBUG] Doing:
[ldap2pg.psql         DEBUG] SELECT
[ldap2pg.psql         DEBUG]   role.rolname, array_agg(members.rolname) AS members, role.rolbypassrls, role.rolcanlogin, role.rolcreatedb, role.rolcreaterole, role.rolinherit, role.rolreplication, role.rolsuper
[ldap2pg.psql         DEBUG] FROM
[ldap2pg.

[2018-04-12 08:41] bersace commented on #203
Hi @canlar

By default, `ldap2pg` inspect *all* roles, including superusers.

If `managed_roles_query` is empty or false or none, all users are managed.

What did you expect ?

[2018-04-12 08:59] canlar commented on #203
Hi @bersace,

i expect that by "default" ldap2pg don't inpect all roles.
It only inspect only the role member from the ldapgroup "XXXXX" and don't touch other users.

In my test case:
If i have forgot an indent or not define a select statement so all users are removed from database.

Now i know to be sure define a correct ldap group and indent with correct  select statement.

[2018-04-12 09:38] bersace commented on #203
Then what should be the default ? What is the ldapgroup `XXXX` ?

The starting point configuration implements this : https://github.com/dalibo/ldap2pg/blob/master/ldap2pg.yml . It's a configuration not code.

Yes. This is why ldap2pg run in dry mode by default.

Yes, indentation is important in YAML, or use `{}` like JSON.

[2018-04-16 01:44] Gonzant opened #205 "Failed to query LDAP: {'matched': u'dc=***,dc=***', 'desc': u'No such object'}."
Hello,
I am trying to use ldap2pg but when i execute ldap2pg this happen:

![image](https://user-images.githubusercontent.com/8551597/38786342-b0b55670-40fd-11e8-98d9-c62912283030.png)

The ldap2pg-yml is:
![image](https://user-images.githubusercontent.com/8551597/38786379-ea754136-40fd-11e8-9dea-6d0906aff923.png)
![image](https://user-images.githubusercontent.com/8551597/38786387-fb761ee2-40fd-11

[2018-04-16 08:32] bersace commented on #205
Hi @Gonzant

This is an LDAP error. The LDAP object is not found. It's like an HTTP 404 ;-)

When running `ldap2pg` with `--verbose` flag, you will see `ldapsearch` commands logged. Copy and adapt it to get it working. Then adapt `ldap2pg.yml`.

Hint : You don't need `attributes: [cn, member]` anymore, `ldap2pg` collects all `_attribute:` and query them automatically. ;-)

[2018-04-18 08:34] bersace commented on #203
@canlar a fix is release with 4.8. Can you test and close the issue ?

[2018-04-19 08:02] #203 closed

[2018-04-20 10:30] schmandr opened #209 "Running as non-superuser"
When connecting to the DB with a non-superuser, an unhandled error occurs (and I was recommended to file an issue):
[code]

Btw, do you recommend using a superuser role? Or which privileges (and grants on tables) would any other role need to run the ldap2pg queries?

[2018-04-20 11:07] bersace commented on #209
@schmandr thanks for the report !

Yes, i recommand superuser for now. But maybe `CREATEROLE` is enough if you manage only roles. But for grants, revokes and alter default privileges, you should use a superuser.

[2018-04-20 11:39] schmandr commented on #209
OK. Thanks for the info.

[2018-04-20 12:10] schmandr opened #210 "Using parents_attribute results in more PostgreSQL grants than it should"
I'm trying to create login roles and assigning them to a group they are a member of according to LDAP. I set up the following LDAP query (_group1_, _group2_ and _group3_ are created beforehand with another LDAP query):

[code]

This basically works. Members of LDAP _group1_ are granted PostgreSQL role _group1_.
However, members of LDAP _group2_ are granted PostgreSQL roles _group2_ **and** _group1

[2018-04-20 12:27] bersace commented on #210
@schmandr I confirm the bug !

[2018-04-20 12:43] schmandr commented on #210
From the log:
[code]
The ldapsearch result looks like:

[code]

[2018-04-20 12:46] bersace commented on #210
@schmandr a workaround is to duplicate the rules instead of using `(|(cn=....))`

[2018-04-20 13:02] schmandr commented on #210
Wow, fix shows up in no time. Faster than I can reply :smiley: Thanks a lot, @bersace!
I really like ldap2pg. Great tool!

[2018-04-20 13:11] bersace commented on #210
@schmandr as there is a workaround, i prefer not to release this yet. Unless you ask it :-)

Thanks for the comment :-)

[2018-04-23 07:17] bersace commented on #205
Hi,

@Gonzant what is the output of the ldapsearch command just above in the logs ?

Usually, `-s sub` includes parent which, in this case includes `dc=colonizacion,dc=gub` which dont have `cn`.

Try `scope: children` or `filter: (cn=*)`. YMMV.

[2018-04-23 11:51] bersace commented on #209
@schmandr that's a good point. The ability to run ldap2pg without super privileges is nice. What do you expect from `ldap2pg` if it can't remove a role because of owned objects ? Dose DROP ROLE revoke grants on that roles ?

[2018-04-23 11:52] bersace commented on #209
@schmandr do you require to run ldap2pg as non-superuser because you are on a cloud ?

[2018-04-24 14:54] bersace commented on #209
@schmandr thanks for pointing this. `ldap2pg` should do this for non superuser.

[2018-04-24 15:09] bersace commented on #209
@schmandr looks like everything works great as long as the role creator is also the owner of objects.

[2018-04-27 06:25] bersace commented on #210
Released.

[2018-04-27 06:25] #210 closed

[2018-04-27 06:25] bersace commented on #209
Released.

[2018-04-27 06:25] #209 closed

[2018-04-27 06:26] bersace commented on #205
@Gonzant do you get it ?

[2018-04-28 03:10] #205 closed

[2018-04-28 03:10] Gonzant commented on #205
Yes! It work.

Thank you very much!

Best wishes with ldap2pg!

[2018-05-02 15:42] aditya-2203 opened #218 "Issue in creating user roles"
[code]

My LDAP File

[code]

I want to create individual roles for each of the user returned. I have no role defined in database. i am getting the above error.

[2018-05-02 15:53] bersace commented on #218
Hi @aditya-2203 , thanks for the report !

`ldap2pg` should be more explicit about the error.

The error is in the YAML : you mixed `grant` and `role` rules. They are separates, just like `CREATE ROLE` and `GRANT` in SQL.

[code]

See : http://ldap2pg.readthedocs.io/en/latest/config/#sync_map

[2018-05-24 09:25] mhagander opened #219 "Stdout of only modified data"
Hi!

Right now, running ldap2pg will always output data on the standard output, even if quiet mode is specified.

It would be very good to have output modes for:

1. Something that only prints errors, and nothing else. As long as everything works, nothing at all is printed.
2. Something that prints all changes, but no status messages. As long as nothing has changed, nothing is printed. If somethin

[2018-05-24 09:36] bersace commented on #219
Hi @mhagander thanks for the feedback !

Actually it's stderr, can you confirm me you talk about log messages ?

There is a `--check` switch that triggers exit code `1` when there is changes. Note that configuration errors triggers an exit code `2`. Does this help you ? I should document exit codes.

That's a good idea to have a silent mode with only errors. I suggest to add warnings too. This is

[2018-05-24 09:43] mhagander commented on #219
Yeah, you're probably right about stderr/stdout -- I am talking about log messages.

I know about the --check, but the point is if I run it for example in cron, then cron will send an email if there is any printed output. Which is a good way for "simple trapping of errors".

And yes, those suggestions would fit my needs.

Thanks!

[2018-05-31 20:14] bersace opened #221 "Investigate pgbouncer integration"

[2018-06-01 00:44] bersace commented on #218
Let's close. Please reopen if you can't get it right.

[2018-06-01 00:44] #218 closed

[2018-06-28 08:28] jrjsmrtn commented on #164
@bersace the release on PyPI is still 4.10, not 4.3.1.

[2018-06-28 08:33] jrjsmrtn commented on #164
forget it, I misread 4.10 as 4.1.0 :-q

[2018-06-28 08:50] jrjsmrtn opened #224 ""Failed to process [...],DC=org: Unknown attribute 'samaccountname'""
I have the following ldap2pg.yml:

[code]

Any sync attempt fails with a "Failed to process [...],DC=org: Unknown attribute 'samaccountname'", whatever the case used for the name_attribute. The same with "userPrincipalName".

My config is: ldap2pg 4.10, psycopg2 2.6.2, python-ldap 3.1.0 and Python 3.5.3 on Debian 9.4. LDAP (Samba AD DC 4.8.2-debian) and PostgreSQL (9.6.7) are on the same host and

[2018-06-28 08:56] jrjsmrtn commented on #224
Correction: ldap2pg is installed with pip3 from the git master.

[2018-06-28 09:08] bersace commented on #224
Hi @jrjsmrtn . Thanks for reporting !

Can you run `ldap2pg -v`  ? Beware, the output is very verbose. You'll see `ldapsearch` commands. Can you report it ?

Also, can you adapt it, run it and report the LDIF output ?

[2018-06-28 09:35] jrjsmrtn opened #225 "UnicodeDecodeError when using sync_map.ldap and Python 2.7.13"
The following ldap2pg.yml is working fine with Python 2.7.13 on Debian 9.4 (see attached ldap2pg.success.log for details):

[code]

But whenever I add ldap entries to the sync_map:

[code]

I get this:
[code]

The logs for successful and failed runs are attached:
[ldap2pg.fail.log](https://github.com/dalibo/ldap2pg/files/2144639/ldap2pg.fail.log)
[ldap2pg.success.log](https://github.com/dalibo/lda

[2018-06-28 09:39] bersace commented on #225
hi,

Looks like `ldap2pg` wants to decode a binary value.

Can you try `name: '{sAMAccountName}' instead of `name_attribute` ?

[2018-06-28 09:49] jrjsmrtn commented on #224
OK, I found the issue: as there was no filter on the sAMAccountName or userPrincipalName attribute, the LDAP search was returning some entries with no such attributes. Hence the error message make sense.

I tested successfully with sAMAccountName and userPrincipalName:
[code]

Thanks :-)

[2018-06-28 09:49] #224 closed

[2018-06-28 09:50] bersace commented on #224
@jrjsmrtn you're welcome. :-)

[2018-06-28 09:52] bersace commented on #225
Can you send me the LDIF of the first entry returned by `ldapsearch -x -D  -b dc=cxptc,dc=org -s sub '(objectClass=*)' ` I would like to reproduce so that `ldap2pg` does at least show a better error message.

[2018-06-28 10:00] jrjsmrtn commented on #225
Hmmm...

`ldapsearch -x -D -b dc=cxptc,dc=org -s sub '(objectClass=*)'` fails:

[code]

...which is why I set up LDAP anonymous searches and `ldapsearch -x -b dc=cxptc,dc=org -s sub '(objectClass=*)'` works with no _-D binddn_.

[2018-06-28 10:02] bersace commented on #225
@jrjsmrtn yes, `ldap2pg` is naïve and should not put `-D`. Can you send me the LDAP entry with binary attribute ?

[2018-06-28 10:06] bersace commented on #225
I'm not happy that `ldapsearch` has no attributes argument. `ldap2pg` should not request all attributes, it's a waste and cause such errors.

[2018-06-28 10:53] jrjsmrtn commented on #225
Here is the first (anonymized) entry returned by ldapsearch:

[code]

[2018-06-28 11:00] jrjsmrtn commented on #225
I have the same issue with `name: '{sAMAccountName}'`, btw.

[2018-06-28 11:39] cbandy commented on #225
Is that output from the same query? 🤔 I see `filter: (sAMAccountName=*)`.

[2018-06-28 12:46] bersace commented on #225
I think this is this attributes.

[code]

[2018-06-28 13:02] bersace commented on #225
@jrjsmrtn Can you give me the attributeType of `objectSid` ? I don't find a schema on this.

[2018-06-28 13:03] bersace commented on #225
@cbandy I see `sAMAccountName: someuser`, that should do the job.

[2018-06-28 13:21] bersace commented on #225
@jrjsmrtn just a side note, you can put multiple names in a single `roles` entry.

[code]

[2018-06-28 13:25] bersace commented on #225
Putting `sAMAccountName` instead of `cn` still works. Only `sAMAccountName` is queried.

[code]

[2018-06-28 13:56] bersace commented on #225
@jrjsmrtn ok, that looks like a bug with Python 2.7 only.

[2018-06-28 14:07] bersace commented on #225
@jrjsmrtn can you try master ? This should be fixed.

[2018-06-28 15:45] jrjsmrtn commented on #225
@bersace the syntax of the [objectSid attribute](https://docs.microsoft.com/en-us/windows/desktop/ADSchema/a-objectsid) is "[String(Sid)](https://docs.microsoft.com/en-us/windows/desktop/ADSchema/s-string-sid)". They are both part of the [ActiveDirectory schema](https://docs.microsoft.com/en-us/windows/desktop/ADSchema/active-directory-schema). More about SIDs [here](https://docs.microsoft.com/en-

[2018-06-28 15:47] jrjsmrtn commented on #225
@cbandy: yes, sorry, I may have changed the query in the meantime because of #224

[2018-06-28 16:13] jrjsmrtn commented on #225
@bersace: I tested the git master with the sAMAccountName and userPrincipalName attributes: it's working fine ! Thanks a lot for your help :-)

[2018-06-28 16:13] #225 closed

[2018-06-28 16:38] bersace commented on #225
@jrjsmrtn nice. 4.11 is on PyPI with the fix ! Thanks for the report !

[code]

[2018-07-31 08:24] datinho opened #228 "Generate role with sAMAccountName from each user of a group: Bad search filter"
Ref. https://github.com/dalibo/ldap2pg/issues/128

ldap2pg -V
ldap2pg 4.11
psycopg2 2.7.5 (dt dec pq3 ext lo64)
python-ldap 3.1.0
Python 2.7.5 (default, Jul 13 2018, 13:06:57)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-28)]

OS: Centos 7

I've configured the yml file: ldap2pg.yml
[code]

running the command: ldap2pg -c ./ldap2pg.yml -n -vvv

[ldap2pg.manager       INFO]   (object...
[ldap2pg.ldap

[2018-07-31 09:15] bersace commented on #228
Hi @datinho !

I can reproduce the error with `: >` YAML syntax :

[code]

Can you confirm this ?

That's a bug since `ldapsearch` accepts such filter.

[2018-07-31 09:25] datinho commented on #228
Hi @bersace,
thanks for your fast reply, here's the result:

[ldap2pg.script       CRITI] Failed to query LDAP: {'info': u'000004DC: LdapErr: DSID-0C0907C2, comment: In order to perform this operation a successful bind must be completed on the connection., data 0, v2580', 'desc': u'Operations error'}.

but the binding was succesful

[ldap2pg.ldap         DEBUG] Doing: ldapwhoami -Y DIGEST-MD5 -U i

[2018-07-31 09:30] bersace commented on #228
@datinho hmm, that's another issue. Does the `ldapwhoami` command works ? I'm wondering if I should set both `-D` and `-U`. What is your LDAP server ?

[2018-07-31 09:33] datinho commented on #228
I'm using an Active Directory

[2018-07-31 13:51] bersace commented on #228
:up: can you test `ldapwhoami` command ?

[2018-07-31 14:09] datinho commented on #228
I've configured the yml e ldaprc:

[ldap2pg.config       DEBUG] Read dry from argv.
[ldap2pg.config       DEBUG] Read verbosity from argv.
[ldap2pg.config       DEBUG] Read ldap:uri from YAML.
[ldap2pg.config       DEBUG] Read ldap:binddn from YAML.
[ldap2pg.config       DEBUG] Read ldap:user from YAML.
[ldap2pg.config       DEBUG] Read ldap:password from YAML.
[ldap2pg.config       DEBUG] Read po

[2018-07-31 14:29] bersace commented on #228
Again, can you test `ldapwhoami -Y DIGEST-MD5 -U inetwork -W` and report the output, per cortesia ?

[2018-07-31 14:35] datinho commented on #228
ldapwhoami -Y DIGEST-MD5 -U inetwork -W
Enter LDAP Password:
ldap_sasl_interactive_bind_s: Can't contact LDAP server (-1)

it missing flag -h, with it:

SASL/DIGEST-MD5 authentication started
SASL username: inetwork
SASL SSF: 128
SASL data security layer installed.
u:OFFICE\inetwork

[2018-07-31 14:45] bersace commented on #228
@datinho yes, ldap2pg suppose ldapwhoami will read ldaprc.

[2018-08-01 09:18] bersace commented on #228
@datinho I find it odd to have `u:OFFICE\inetwork` instead of `dn:…`. @cbandy do you have some experience using SASL with Active Directory ?

[2018-08-01 09:25] bersace commented on #228
@datinho can you have simple authentication ?

[code]

[2018-08-01 13:14] bersace commented on #228
@datinho Can you do an anonymous `ldapsearch` with and without filter ?

[code]

*Adpat to your need*.

[2018-08-02 06:11] testingash commented on #205
hi,

I asl came across same issue as,
Failed to query LDAP: {'matched': 'ou=****,dc=**,dc=**', 'desc': 'No such object'}

I gone throgh above comments but did not understand solution:
**""When running ldap2pg with --verbose flag, you will see ldapsearch commands logged. Copy and adapt it to get it working. Then adapt ldap2pg.yml.""**

Can you elaborate on this point?

[2018-08-02 06:49] bersace commented on #205
@testingash if you struggle with YAML, you can narrow the problem to the LDAP query and use ldapsearch to construct the right LDAP query. Once you're satisfied, you can report back the LDAP query in the YAML. Is it clearer for you ?

[2018-08-02 07:07] testingash commented on #205
ok. I understand now instead of script file directly can test using direct ldap query  and then port it to YAML. I wanted to create LDAP users in postgres DB.

Thanks for help. really appreciate.

[2018-08-02 09:11] datinho commented on #228
Hi, the anonymous search works.
I check that if I set the -h flag the search works, if I use ldapd.conf/ldaprc the same search don't.
So I must fix my configuration of openldap before.
Thanks for your support and  courtesy

[2018-08-02 09:13] bersace commented on #228
@datinho ok, nice. Let me know it some doc or better error message can help.

[2018-08-02 09:18] testingash commented on #205
Hi,
I reached next level by first using ldapsearch and then getting parameters correct. But next I came across this below:
ldap2pg.yml.
Running in dry mode. Postgres will be untouched.
Inspecting roles in Postgres cluster...
Querying LDAP cn=developers-group,ou=d... (objectclass...
Would create  ash12.
Would create  ashle.
Would create  tt.
Would create developers-group.
Inspecting GRANTs in Postg

[2018-08-02 09:36] bersace commented on #219
Let's close. @mhagander please reopen if you have an issue with this :-)

[2018-08-02 09:36] #219 closed

[2018-08-02 10:05] bersace commented on #205
@testingash what is the version of Postgres server ?

[2018-08-02 10:05] testingash opened #230 "default privileges can't be determined error"
Hi,
I reached next level by first using ldapsearch and then getting parameters correct. But next I came across this below:

[code]

Here I am giving ldap2pg.yml:

[code]

Any help would be appreciated.

[2018-08-02 10:05] bersace commented on #205
@testingash can you open another issue for this ?

[2018-08-02 10:06] bersace commented on #230
Can you tell the postgres cluster version ?

[2018-08-02 13:01] bersace commented on #230
Ok, i reproduced the bug. I'm working on it.

[2018-08-02 14:06] bersace commented on #230
@testingash the fix is merged in master, and 9.3 is tested on CI. Can you confirm this ? Can you test installing a from master ?

[2018-08-03 05:35] testingash commented on #230
@bersace I downloaded from master.
Starting ldap2pg 4.11.
....
Running in dry mode. Postgres will be untouched.
Inspecting roles in Postgres cluster...
Querying LDAP cn=developers-group,ou=d... (objectclass...
Would create  ash12.
Would create  ashle.
Would create  tt.
Would create developers-group.
Inspecting GRANTs in Postgres cluster...
In dry mode, some owners aren't created, their default pri

[2018-08-03 05:35] #230 closed

[2018-08-03 06:17] testingash commented on #230
@bersace : one thing I would like to ask is Will this tool will be helpful if I want to create same LDAP users in postgres?? This case is for already created users in LDAP server. In my understanding this tool will work as hook to get LDAP users. Please correct me if I am misunderstand tool.

[2018-08-03 08:06] bersace commented on #230
Yes, for sure. It's the purpose of ldap2pg. See http://ldap2pg.readthedocs.io/en/latest/roles/ .

Postgres knows how to check password using LDAP protocol. Postgres does not know how to query LDAP and create roles. ldap2pg allows you to describe how to create roles in Postgres cluster according to a centralized directory, using LDAP. Since a user creation is complete with it's default privileges,

[2018-08-03 08:08] bersace commented on #230
@testingash ldap2pg 4.12 is now on PyPI with the fix, so you don't have to use master.

[2018-08-03 09:52] testingash commented on #230
thanks for information. I mean by this "Will this tool will be helpful if I want to create same LDAP users in postgres?? " -- Is I want to create/update table in postgres with those LDAP users.

[2018-08-03 09:57] bersace commented on #230
Ok, sorry, I misunderstood. For a role to be allowed to create a table it must have `__create_on_schemas__` privilege granted alias `CREATE ON SCHEMA` as well as `__insert_on_tables__` in schema `pg_catalog`.

[code]

YMMV

[2018-08-03 10:44] testingash commented on #230
I have written yml as:
postgres:
  dsn: postgres://****:****@localhost:5432/uos
  databases_query: [postgres,**]

  schemas_query: |
    SELECT nspname FROM pg_catalog.pg_namespace WHERE nspname = '****'

privileges:
  ro:
  - __connect__
  - __execute__
  - __select_on_tables__
  - __select_on_sequences__
  - __usage_on_schemas__
  - __usage_on_types__

  # `rw` privilege group lists write-only g

[2018-08-03 13:42] bersace commented on #230
I dont understand this. Which table are you talking about ?

[2018-08-03 16:45] testingash commented on #230
I am referring to table from postgresql tables which schema was used in
yml.  Please correct me if I am wrong.

On Fri, 3 Aug 2018 19:32 Étienne BERSAC, <notifications@github.com> wrote:

[2018-08-06 10:26] bersace commented on #230
@testingash I don't understand what is your goal.

ldap2pg is not meant to insert neither update data in tables. ldap2pg create, alter or drop roles, and grant or revoke privileges.

[2018-08-06 10:44] testingash commented on #230
ldap2pg is not meant to insert neither update data in tables. ldap2pg create, alter or drop roles, and grant or revoke privileges --- So LDAP users will be ported as roles in PG right?
I don't understand what is your goal -- I am trying to understand concept of case where customers have implemented LDAPor RADIUS we fetch all needed user details from their servers instead of creating 10,000 users a

[2018-08-06 11:29] bersace commented on #230
@testingash In Postgres, you must create roles to grant access and privileges. Postgres server only uses LDAP to check password. Nothing more. See the first line of LDAP authentication documentation of Postgres  : https://www.postgresql.org/docs/current/static/auth-methods.html#AUTH-LDAP

ldap2pg is a tool to create/alter/drop Postgres roles according to a LDAP directory. It's a synchronisation to

[2018-08-21 16:15] datinho commented on #228
Hi @bersace,
I've fix the ldaprc and now the command on cli works correctly:
ldapsearch -x -D inetwork -W -b DC=office,DC=company,DC=com -s sub '(& (objectClass=User) (memberOf=CN=SQL-DBA,OU=SQL Groups,DC=office,DC=company,DC=com))' sAMAccountName
Enter LDAP Password:
and I get all samaccountname from the group

but ldap2pg still returns error:
[ldap2pg.ldap         DEBUG] Doing: ldapsearch -x -D

[2018-08-22 10:44] madtibo opened #234 "Add __temp_on_database__ privilege"
The creation of temporary table is not managed by ldap2pg.

It would be good, in the default yml file, if this temporary object creation is not removed :
  * `REVOKE TEMP ON DATABASE <db> FROM <role>;`

[2018-08-22 14:48] datinho commented on #228
Hi @bersace, I've found the root problem, it's due to referral that is handled differently between LDAP and AD.
ref: https://stackoverflow.com/questions/18793040/python-ldap-not-able-to-bind-successfully

Adding at line 206 of ldap.py:
`conn.set_option(ldap.OPT_REFERRALS, 0)`
the filter works correctly.

After that I've faced to another problem because the ldapsearch had returne dall users of grou

[2018-08-22 15:57] bersace commented on #228
@datinho you're awesome ! I'll check this asap !

[2018-08-22 15:58] bersace commented on #228
@datinho Do you feel confident to submit a pull request? :-)

[2018-08-28 07:14] bersace commented on #234
Hmm, actually, it is done already :-) It's [`__temporary__`](https://ldap2pg.readthedocs.io/en/latest/wellknown/#privilege-__temporary__).

Je ferme.

[2018-08-28 07:14] #234 closed

[2018-10-05 13:06] bersace commented on #228
Let's close. Thanks @datinho !

[2018-10-05 13:06] #228 closed

[2018-10-17 15:05] ankravch opened #242 "can't revoke a custom privilege"
I follow an example from https://ldap2pg.readthedocs.io/en/latest/privileges/#defining-custom-privilege
to define a custom privilege:

[code]

[code]
The privilege does get granted, but it can't be revoked. My question is what would be a proper "inspect" definition in this case?

[2018-10-17 16:08] bersace commented on #242
Hi @ankravch ! Thanks for the report. :-)

The static inspect you wrote tells ldap2pg that `my_grant_all_on_database_privilege` is granted to `admin`.

The sync_map tells ldap2pg that `my_grant_all_on_database_privilege` must be granted to `admin`.

Thus, there is nothing to do, right ?

Note, you can skip `schema` when granting  `datacl` privileges.

[2018-10-17 16:55] ankravch commented on #242
Hmm... How would you tell ldap2pg that ```my_grant_all_on_database_privilege``` must be revoked from ```admin```?

[2018-10-17 17:03] ankravch commented on #242
[code]
This one grants ```connect_only``` but still does not revoke ```my_grant_all_on_database_privilege```.

[2018-10-17 18:58] bersace commented on #242
There is no explicit revoke. If `inspect` find a grant that is not required by any `sync_map:grant`, it is revoked.

[code]

[2018-10-17 19:11] bersace commented on #242
@ankravch I think there is something odd. I tried to have your configuration right and get the *Would revoke my_acl*. Here it is:

[code]

Note that without actually creating *admin* in the cluster, i don't get *revoke*.

Does it help you ? I think that cookbook should have a *How to revoke* section. Please keep this issue opened.

[2018-10-17 21:43] ankravch commented on #242
Yes it helped. I had to switch from
[code]
to
[code]
and now I am able to revoke ```my_grant_all_on_database_privilege```.

[2018-10-18 10:30] bersace commented on #242
@ankravch oh, yes, you're right. `schema` is not actually ignore. I must fix that ! Thanks for pointing it.

Good ! :) I'm listing here what should be done to help other users in you're situation. Please let me know if something is missing or wrong :

### Tasks

 - [ ] Fix schema not ignored in datacl privileges inspect.
 - [ ] Update Cookbook about revocation of privileges.
 - [ ] Detect grants o

[2018-11-16 16:53] bersace commented on #242
Ok, let's close. @ankravch don't hesitate to comment #251 if you find the doc is not clear enough. Thanks !

[2018-11-16 16:53] #242 closed

[2019-01-11 09:03] Stanislasss opened #255 "Query for databases not scraped properly?"
Hi,

with this yml configuration file:
[code]
I got a connection attempt on "rdsadmin" database which should be exlude by my databases_query.

Error message:
[code]

Trying to understand your code, adding some logging in
python3.5/dist-packages/ldap2pg/inspector.py

[code]

Error message output:
[code]
The query seems to be the default one defined in the config.py (lines 348-350):
`'databases': 'S

[2019-01-11 09:57] bersace commented on #255
Hi @Stanislasss , thanks for the report !

In your YML, it looks like you missed `s` in `databases_query`. Can you try with this ?

That would be great to drop duplicated code in ldap2pg ! ldap2pg is already using pyyaml to parse `ldap2pg.yml`. Can you elaborate on what you mean by *your own mapping* ?

From your report, I sugget to improve ldap2pg this way:

- [ ] Gracefully handle connection err

[2019-01-11 10:36] Stanislasss commented on #255
Hi @bersace,

Impressive fast answer.
I'm really sorry, I did missed the 's' on the yaml block.
Regarding the "pyyaml" module, I see it as a requirement, but cannot find where you use it in the code.
By the way, I'm a complete beginner with Python and Development in general so excuse the sluggish coder eyes.
As you already helped me with my configuration file mistake, I do not want to make you los

[2019-01-11 10:43] bersace commented on #255
Hi @Stanislasss

No worry for your level :-) For your information, ldap2pg config loading is in `ldap2pg/config.py` file : https://github.com/dalibo/ldap2pg/blob/master/ldap2pg/config.py#L561-L566

Youre experience as a newcomer is very welcome. If you fight with ldap2pg that's a bug ;-). ldap2pg just expects you to know basically how to manually setup a ldap authenticated role in Postgres.

Yes,

[2019-01-11 10:50] Stanislasss commented on #255
Sure thing, I'll let the ticket opened until then, and let you know about my setup experience. ;-)

[2019-01-28 09:20] Stanislasss commented on #255
@bersace Nice work. Thanks for the great follow-up.
Closing this.

[2019-01-28 09:20] #255 closed

[2019-01-28 16:01] Stanislasss commented on #202
Hi @bersace ,
Does a Dockerfile like below would be ok for you? Or are you waiting for something else:

[code]

[2019-01-29 10:07] bersace commented on #202
That's a good starting point. Can you open a PR ?

[2019-01-29 10:07] bersace commented on #202
pip is already installed in python:3.7 image.

[2019-01-29 10:19] Stanislasss commented on #202
I'm actually upgrading pip if a new version is released in between. Is this a bad practice?

[2019-01-29 11:19] Stanislasss commented on #202
Sure thing

[2019-02-07 13:26] thda commented on #228
Hi,

with the fix setting referrals in the config to 'False', false, False of 'false' cannot deactivate referrals..

Can you please have a look ?

Thanks

[2019-02-07 13:49] bersace commented on #228
Hi @thda . Thanks for the point. Can you review #261 ?

[2019-02-07 14:05] thda commented on #228
Thanks for looking into it.

I do not think it works.
The yaml config option will not be taken into account:
In gather_options, "if k.upper() in options and v" => if v is false nothing is set, I think.
Also, export LDAPREFERRALS=0 work, but export LDAPREFERRALS=off gives ValueError: invalid literal for int() with base 10: 'off'.

I can't tell why.

[2019-02-07 14:53] bersace commented on #228
@thda, can you show me a snippet of YAML ?

[2019-02-19 14:26] thda commented on #228
Hi @bersace,

I've tested #261 and it now fixes my issue.

Many thanks,
Thomas

[2019-02-21 09:08] bersace commented on #202
Vielen danke @Stanislasss !!

[2019-02-21 09:08] #202 closed

[2019-02-25 15:40] djkube opened #268 "LDAP bind with GSSAPI"
Is it possible to use a keytab file instead of supplying user name and password for binding to LDAP?

The environment is Active Directory based. Saving a password in clear text and sending the password over the wire is unacceptable from security perspective.

[2019-02-26 07:03] bersace commented on #268
Great idea. actually, libldap does support kerberos. It's a matter of proper setup and testing.

[2019-02-26 07:04] bersace commented on #268
@djkube would you mind help me testing kerberos once i got some code to test ?

[2019-02-26 08:38] djkube commented on #268
Sure, I can't have it sooner.

[2019-02-27 08:00] bersace opened #269 "Generic object loop"
I'm sharing a proposal to manager fine-grained privileges in ldap2pg.

To manage privileges, ldap2pg loops on database and schema. But sometime, that would be nice to loop on other objects like table, views, procedures, etc.

An idea on this would be to be able to define generic object inspection:

[code]

When granting a privilege, one can append extra parameter. Matching object type will be used

[2019-03-14 12:30] zurikus opened #270 "Fails to discard LDAP search references"
Hello Étienne Bersac,

I'm facing one issue with ldap2pg package and I hope you can help to solve it.
So, I have several OU in my LDAP structure:
Every OU have own Groups and users.

So, I place one of users from different OU to group of other OU and configured LDAP search in this way:

[code]

When I make run I'm getting error:

[code]
When I run this query manually it is working fine for me:

[c

[2019-03-14 16:52] bersace commented on #270
Hi @zurikus , can you reproduce with `DEBUG=1 ldap2pg ...` and type `pp attributes` in the debugger ? Then paste it here. Thanks.

[2019-03-14 17:25] zurikus commented on #270
Yes, sure

[code]

[2019-03-14 18:21] bersace commented on #270
Thansk @zurikus ! Can you build a LDAP query that do not returns refs ? Try with ldapsearch. That would workaround the bug.

By the way, i'll fix ldap2pg to discard refs.

[2019-03-14 18:23] bersace commented on #270
@zurikus which version of ldap2pg do you run ?

[2019-03-14 18:35] zurikus commented on #270
Ldap search without search references.

[code]

[2019-03-14 18:36] zurikus commented on #270
$ ldap2pg -V
ldap2pg 4.17
psycopg2 2.7.6.1 (dt dec pq3 ext lo64)
python-ldap 3.1.0
Python 3.5.2 (default, Nov 12 2018, 13:43:14)
[GCC 5.4.0 20160609]

[2019-03-14 19:48] sgns12 commented on #124
Hi
i am able to do ldapsearch against MS active directory
ldapsearch -h ad.imsi.com -p 389 -D "cn=ldapuser=adminaccounts,dc=ad,dc=imsi,dc=com"  -w Password1 -b "ou=IFSUsers,DC=ad,DC=imsi,DC=com"

then i try to run ldap2pg  and get below error:

ldap2pg -c /u01/Software/Postgres/ldap2pg-master/docs/ldap2pg.minimal.yml --dry --verbose
/opt/rh/rh-python36/root/usr/lib64/python3.6/site-packages/psycop

[2019-03-14 20:11] bersace commented on #270
Ok. I released 4.18. Can you test it ? You can close if you're ok.

[2019-03-14 20:26] zurikus commented on #270
Ueee, thank you very much, looks great now:

$ ldap2pg -V
ldap2pg 4.18
psycopg2 2.7.6.1 (dt dec pq3 ext lo64)
python-ldap 3.1.0
Python 3.5.2 (default, Nov 12 2018, 13:43:14)
[GCC 5.4.0 20160609]

[code]

Thank you very much!!!

[2019-03-14 20:26] #270 closed

[2019-03-15 08:30] bersace commented on #270
You're welcome ! :+1:

[2019-03-15 08:33] bersace commented on #124
Hi @sgns12 , the ldaprc file looks odd. I don't known if the colon are valid. That should look like:

[code]

[2019-03-15 13:50] sgns12 commented on #124
Thank you very much for your prompt response
did 2 things
1st - not sure if relevant - installed - yum install cyrus-sasl-md5
2nd - updated ldaprc file as you recommended
made progress and now get this error,
[ldap2pg.inspector    DEBUG] Ignoring role 'pg_execute_server_program'. Matches 'pg_*'.
[ldap2pg.inspector    DEBUG] Managing role 'espappid' NOBYPASSRLS LOGIN NOCREATEDB NOCREATEROLE INHERIT

[2019-04-12 19:59] sgns12 commented on #124
Hi
I have ldapsearch working from command line
ldapsearch -h agsos137.it.mainstr.com -p 2389 -LLL -w Password -x -D "uid=PostgresUser,ou=system,ou=users,dc=mainstreet,dc=com" -b cn=ssc_postgressuser_readrole,ou=groups,ou=users,dc=mainstreet,dc=com -s sub uniqueMember
result:
dn: cn=ssc_postgressuser_readrole,ou=groups,ou=users,dc=mainstreet,dc=com
uniqueMember: uid=e491669,ou=internal,ou=users,dc=

[2019-04-12 20:27] sgns12 commented on #124
sorry, it should read
[ldap2pg.ldap         DEBUG] Doing: ldapsearch -x -b cn=ssc_postgressuser_readrole,ou=groups,ou=users,dc=mainstreet,dc=com -s sub 'cn=ssc_postgressuser_readrole' uniquemember
[ldap2pg.manager      DEBUG] Got 0 entries from LDAP.

[2019-04-15 13:09] bersace commented on #124
Hi @sgns12 you should open a new issue instead of polluting an old ticket.

The working ldapsearch command does not have filter while you set one in YAML. Also, the YAML you pasted looks misidented. Spaces are important in YAML. You should have something like:

[code]

[2019-04-17 15:32] sgns12 commented on #124
Thank you for you response and realize I have to open a new issue and not to resue old one.
sorry.
found my problem.
for some reason ldap2pg does not pick up ldaprc file that I have in the same directory for this specific ldap.
for 2 other ldaps ldaprc files in their own directories  work fine.
defined unix variables like LDAPBINDDN and LDAPURI, LDAPPORT and LDAPPASSWORD and it runs fine.
thank yo

[2019-04-18 10:25] bersace commented on #124
Hi @sgns12 , hmm there may be a bug in ldap2pg when loading ldaprc. Can you upload debug logs in a new issue ?

[2019-04-18 20:31] sgns12 opened #272 "ldap2pg seems to ignore ldaprc files"
Hi
I describe here 3 cases that dry run runs fine , but
1. no ldaprc anywhere and runs
2. bad ldaprc file and it runs
in both above case empty BIND DN is passwd, but all works
3. define unix env variables and all works fine and BIND DN is not empty
question is how ldap2pg even know to which ldap server to connect, let alone runs fine?
thank you
shimshon
run on centos 7.5 with openldap

1st case:
N

[2019-04-18 20:34] sgns12 commented on #272
sorry, forgot yml
postgres@itsrhv22112:/tmp/112> cat test.yml.112
#
# **LDAP2PG SAMPLE CONFIGURATION**
#
# This is a sample starting point configuration file for ldap2pg.yml. Including
# static roles, groups, privilege and LDAP query.
#
# This configuration assumes the following principles:
#
# - All LDAP users are grouped in `ldap_roles` group.
# - Read privileges are granted to `readrole` group.

[2019-04-18 20:49] sgns12 commented on #272
P.S.
also ldap.conf points to different ldap server for all clients, that I don't use.
have 'unknown' to ldap.con ldap server.
so have no idea how it finds 'my test' ldap server.

[2019-04-22 17:50] sgns12 commented on #272
i figured out why it works despite not having ldaprc file -
ldap2pg goes by default to localhost port 389, even w/o binddn and works.

now, i do have another case where ldap server is on another machine and i do have ldaprc file
but does not work w/o setting unix variables
postgres@itsrhv22112:/tmp/dev> cat ldaprc
uri: ldap://agsos137.it.statestr.com:2389
binddn: "uid=PostgresUser,ou=system,ou=use

[2019-04-23 07:24] bersace commented on #272
Thanks for the detailed report, i'll investigate this.

[2019-05-09 15:34] bersace opened #274 "Process values in template, alias filter"
The need is to process LDAP values while rendering role or grant parameters. This would looks like:

[code]

The trick is to subclass string values with a extended class implementing various filter.

## Filters idea

- `upper`, `lower` -> natives.
- `slugify` : escape for Posgres native.

## Tasks

- [ ] Implementation
- [ ] Documentation

[2019-05-09 17:32] zurikus commented on #274
I think that this feature will spread ldap2pg package usability.
Plus for all this filters from me:

a) upper, lower
b) slugify('some string') // some-string
c) // if you prefer something other than '-' as separator
slugify('some string', '_')  // some_string

How could be multiple filters applied at once?

[2019-05-10 05:52] zurikus commented on #274
At this moment I don't think, that LDAP values filtering will be usable, as we need to authenticate user later and apply a reverse filter on applied previously, but it is error-prone.
It is better to rely on LDAP completely.

[2019-05-10 06:36] bersace commented on #274
@zurikus

Filters are chainable: `{cn.filter0().filter1()}`. I could even manage to not require `()` with a bit of magic.

Let's wait for some more feedback on this. Maybe a cookbook section on this subject would help.

[2019-05-13 07:31] bersace commented on #171
I'm thinking of extending ldap2pg to help managing this case. Here is an idea:

[code]

What do you think of it ? Would you prefer global `on_create`, `on_drop` ? Thanks for the feedback.

[2019-05-13 08:57] bersace commented on #272
Hi @sgns12 , verbose logs looks to tell the precedence of origin. Last value wins. The thing that may be strange is that there is **two** namespaces for configuration LDAP: native libldap and ldap2pg. ldap2pg.yml has precedence over libldap-like settings. Here is the full order, last wins:

- defaults
- /etc/ldap/ldap.conf
- ~/ldaprc
- ~/.ldaprc
- ./ldaprc
- file at LDAPCONF
- file at LDAPRC
- lda

[2019-05-13 08:58] bersace commented on #272
Now, can you explain me a way to reproduce the bug with:

1. steps to reproduce
2. expected result
3. bad result returned

Thanks !

[2019-05-13 09:06] bersace commented on #268
Hi @djkube can you show me how you setup ldapsearch to query LDAP server with keytab ?

[2019-05-14 16:06] djkube commented on #268
Hi @bersace , I actually didn't tried using ldapsearch with keytab up to now, but figured it out after some fiddling.
I'm not sure what part of the setup you need, so I'll list the general direction and let me know if you need any details:
Everything bellow is on the client machine, except keytab preparation.

1.  realm join domain.com
2.  authconfig --enablesssd --enablesssdauth --enablelocauthor

[2019-05-14 16:48] djkube commented on #268
@bersace some additional info that may be relevant:
https://www.openldap.org/lists/openldap-technical/201509/msg00060.html

[2019-05-15 08:07] bersace commented on #274
For now, there is a bug. ldap2pg doesn't properly infer LDAP attributes from `{cn.lower()}`

[2019-05-15 09:31] bersace commented on #272
@sgns12 I got it. The bug is fixed in #275. Thanks for pointing this !!

[2019-05-15 21:29] djkube commented on #268
@bersace tried it but if breaks on me:

[ldap2pg.config        INFO] Starting ldap2pg 4.17.
[ldap2pg.config       DEBUG] Trying ./ldap2pg.yml.
[ldap2pg.config        INFO] Using /root/ldap2pg.yml.
[ldap2pg.config       DEBUG] Read verbosity from argv.
[ldap2pg.config       DEBUG] Read ldap:uri from YAML.
[ldap2pg.config       DEBUG] Read postgres:databases_query from YAML.
[ldap2pg.config       DE

[2019-05-16 09:50] bersace commented on #272
@sgns12 Would you mind closing this ticket once you're ok ?

[2019-05-19 12:42] djkube commented on #268
Thank you so much @bersace!

[2019-05-19 12:42] #268 closed

[2019-05-22 14:42] #272 closed

[2019-07-01 14:22] andersbogsnes opened #282 "Allow for empty AD group in LDAP sync"
We have an issue where we mirror ldap2pg.yaml across our environments, (test, dev, prod) and have a similar naming scheme for our AD groups.

[code]

The problem occurs when there are no users in the AD group - something that can also occur if someone quits. ldap2pg will error out saying it has no attribute `member`.

As far as I can see, there is no way to have ldap2pg ignore an AD group with no

[2019-07-01 17:22] andersbogsnes opened #283 "Blacklist does not affect users loaded from AD Groups"
Related to #282

When creating LDAP roles, I would expect the blacklist to also apply to any users found there, in effect skipping them. This does not appear to be the case today.

[2019-07-02 06:42] bersace commented on #282
Hi @andersbogsnes, thanks for the report.

`on_unexpected_dn` is meant to tell ldap2pg how to manage recursion, not missing attribute.

Could you add a filter that exclude entry without member attribute ? It's hard for ldap2pg to distinguish a missing attribute from a typo in attribute name.

[2019-07-02 06:44] bersace commented on #283
Hi @andersbogsnes ,

Can you paste me a sample of `blacklist` and debug logs of ldap2pg ? Can you give me steps to reproduce ?

Regards,

[2019-07-02 08:09] andersbogsnes commented on #282
@bersace Thanks for the swift reply!

I'm not sure how that filter would work - if the filter returns empty, then it will never have a member attribute and I would get the same error, no? Or does ldap2pg handle that case differently?

[2019-07-02 08:20] andersbogsnes commented on #283
Of course - just wanted to check if this was intended functionality or not :-)

# blacklist
[code]

# Logs ldap2pg:
[code]
# Logs postgres
[code]

Create a new postgres database with POSTGRES_USER set to a user that exists in an AD group

Sample ldap2pg.yaml ldap section
[code]
# To reproduce

- Have an AD group with a user ABC in it.
- Create new postgres with POSTGRES_USER=ABC

    - `docker run

[2019-07-02 08:40] bersace commented on #282
Hi @andersbogsnes , having `(member=*)` will return no entry instead of an incomplete set. This give me an idea. Maybe ldap2pg could automatically add LDAP filter, but that would defeat the debugging of mispelled attributes.

On empty set, ldap2pg just do nothing. As usual, ldap2pg drops managed roles not returned by directory.

Is it clearer for you ?

[2019-07-02 09:07] andersbogsnes commented on #282
Just to spell it out for someone not well-versed in ldap queries :-)

So I would change my ldap section to this?

[code]

[2019-07-02 12:04] bersace commented on #282
Yep, this looks good. Thanks for the sharing !

[2019-07-02 12:13] bersace commented on #283
Hi @andersbogsnes , thanks for the detailed report. Would mind running `ldap2pg` with `--verbose` flag ?

By the way, the filter looks broken in the YAML, I guess it's a paste issue ;-)

[2019-07-02 13:56] andersbogsnes commented on #282
Thanks for the help!

[2019-08-26 12:51] bersace commented on #274
For the record, this require Postgres to be able to find back the right value to query LDAP directory for password. This is not likely to be easy. So, the better is not to modify LDAP values in ldap2pg, but rather have a preprocessed attribute directly in LDAP directory.

Let's keep this open for a few weeks before closing it.

[2019-08-30 09:32] bersace opened #286 "Add summary of warnings"
ldap2pg logs can be quite verbose.
Thus, warnings may be lost in the flood
 I suggest to add a summary count on last line.

[code]

[2019-09-10 16:00] SamyOteroGlez opened #287 "ldap2pg command not found"
Basically after following this [https://ldap2pg.readthedocs.io/en/latest/install/#pure-python](https://ldap2pg.readthedocs.io/en/latest/install/#pure-python) installation process, when I run `ldap2pg --version` or any other `ldap2pg` command I get `command not found`.

I am installing it inside a vagrant vm. I am running a dockerized active directory and postgresql db in a vagrant vm.

Not sure if

[2019-09-10 16:15] bersace commented on #287
Hi @SamyOteroGlez , Thanks for the report !!

Do you have `/usr/local/bin` in your `PATH` ? Debian distributed `pip` installs in `/usr/local` to not clash with files installed by dpkg.

[2019-09-10 16:28] SamyOteroGlez commented on #287
Hi @bersace,
It should be since I also have `composer` installed, it works as expected.

[2019-09-10 16:29] SamyOteroGlez commented on #287
@bersace but for some reason after the install ldap2pg is not in /usr/local/bin/

[2019-09-10 17:40] SamyOteroGlez commented on #287
Got it working!!!
For some reason, I had to install it as `sudo` and add the `-H` tag.
`$/ sudo -H pip3 install ldap2pg`
and after that:
`$/ sudo pip3 install psycopg2-binary`

Thanks!!!!!

I guess this can be closed.

[2019-09-10 17:40] #287 closed

[2019-09-11 07:09] bersace commented on #287
Hi,

Yes, the doc may be subtle, but the prompt is a `#` instead of `$`, which mean root shell.

The best option is to use `sudo -i` to have a clean root environment.

[code]

Some people are used to `sudo su` for that prupose, but `-i` is enough.

If you want to install as user rather than root, use `pip install --user` without sudo, and ensure `~/.local/bin` is in your `PATH`.

I think this issu

[2019-10-07 15:02] wernermarcel77 opened #288 "Owner per Database"
Hello,

one of my database hosts has 12 Databases on it.
DB01 - DB07 should be managed by ldap2pg the other database leave as it is.

These 7 Databases has an Role:
- pd_db0[1-7]_admin
- pd_db0[1-7]_write
- pd_db0[1-7]_read

As i understand/ test only if a owner is set the default privilidges will be assigned.

We has 7 Files for the 7 Databases, included the owner and the db like:

databases_quer

[2019-10-07 15:09] bersace commented on #288
Hi @wernermarcel77, thanks for reaching.

You may find some information at https://ldap2pg.readthedocs.io/en/latest/postgres/#per-schema-owners-example

ldap2pg accepts a list of owner **per schema**. Thus, you could write a SELECT returning all managed schemas in a database and their respective owner.

Does it make sens to you ?

[2019-10-10 09:49] wernermarcel77 commented on #288
Hmm yes it make sence for shema / owner in DB but not for the DB it self or miss-understanding it ?

[2019-10-10 12:11] bersace commented on #288
@wernermarcel77 the schemas_query is executed once per database. Thus you could write a SELECT using `current_database()` to adapt the results. Here is a dumb example usage of `current_database()`.

[code]

[2019-10-18 06:43] bersace commented on #288
Hi @wernermarcel77 , I misled you, it's not `owners_query` but `schemas_query` that allows to declare per-schemas owner. `owners_query` is global and executed once. See https://ldap2pg.readthedocs.io/en/latest/postgres/#per-schema-owners-example .

Please keep this issue opened until I fixed the doc.

[2019-10-30 14:19] zurikus opened #289 "Enable case sensitiveness on ldap2pg"
Hello  Étienne,

Can we enable case sensitiveness support within Ldap2pg package?

We have upper and lower case sAMAccountName
http://joxi.ru/D2P9nQ3IqQDkRA

But looks like Ldap2pg is not able to handle it
as I can see lowercase users on PSQL side:
http://joxi.ru/Q2K9Z7LILnVXRr

IMHO, to enable case sensitiveness support for PSQL Ldap2pg just need to pass usernames or sAMAccountName or cn from LDA

[2019-10-31 10:01] bersace commented on #289
Thanks @zurikus

There is something odd. In dev env:

[code]

How can Postgres be case sensitive for roles ?

[2019-10-31 15:00] zurikus commented on #289
Same as for users. Roles and users have same concept. Users are roles with LOGIN permissions.
https://www.postgresql.org/docs/11/user-manag.html

By default postgres create user or role in lowercase (without double quotes), but if you will use double quotes it will looks on casesensitivness.

So

psql> create role "TOTO";
psql> create role "ToTo";
psql> create role "toto";

all will executes succe

[2019-11-03 23:38] gi9obru0etuPlc6wozls opened #290 "Unknown attribute in my first ldap2pg.yml"
## What do you want?
This is my first attempt at using ldap2pg. I'm having trouble getting it working. I'm getting "Unknown attribute" for cn. What am I doing wrong?

P.S.: thank you for this tool.

## ldap2pg.yml

[code]
### Log output
[code]
### ldapsearch -x -D cn=ldapadm,dc=domain -W -b ou=users,dc=domain -s sub '(objectClass=*)' cn
[code]

[2019-11-04 01:58] gi9obru0etuPlc6wozls commented on #290
It appears that adding objectclass=inetOrgPerson to the sync_map fixed the issue:
[code]

[2019-11-04 07:53] bersace commented on #290
hi @gi9obru0etuPlc6wozls , welcome using ldap2pg :-)

ldap2pg found an OrganizationalUnit which does not have a `cn` attribute as required by `name` value. The filter is the propery way to go.

Would you mind closing the issue ?

[2019-11-04 09:11] bersace commented on #289
Hi @zurikus thanks for pointing this ! That's a major change.

[2019-11-04 15:52] gi9obru0etuPlc6wozls commented on #290
Thank you for your clarification on this issue.

[2019-11-04 15:52] #290 closed

[2019-11-05 05:43] gi9obru0etuPlc6wozls opened #293 "Role inheritance"
## What do you want?
I'm struggling with how to grant a role another role using the memberOf attribute of groupOfNames. I can get my ldap2pg.yml to manage the group and users create and drop, but I am failing at being able to do the grants.

## ldap2pg.yml
[code]
### I'm trying to achieve:
[code]
### ldapsearch -x -D cn=ldapadm,dc=domain -W -b ou=groups,dc=domain -s sub '(objectClass=*)' dn member

[2019-11-05 08:11] bersace commented on #293
I you use `cn` as role name, it should be simpler.

[code]

Let me know.

[2019-11-05 08:15] bersace commented on #283
@andersbogsnes any news on that issue ?

[2019-11-05 08:15] bersace commented on #283
Note, please upgrade ldap2pg to 5.0.

[2019-11-05 08:16] bersace commented on #274
I'm closing, post processing in ldap2pg what can't be done in pg_hba is useless. Thanks for the issue.

[2019-11-05 08:16] #274 closed

[2019-11-05 08:18] bersace commented on #221
https://github.com/pgbouncer/pgbouncer/issues/397#issuecomment-517906844

[2019-11-05 08:18] #221 closed

[2019-11-05 14:43] gi9obru0etuPlc6wozls commented on #293
I added those two lines. However, I'm getting an error:
[code]

[2019-11-05 15:36] bersace commented on #293
Hmm, looks like ldap2pg does not handle well missing attributes. Let me investigate.

[2019-11-05 16:33] bersace commented on #293
@gi9obru0etuPlc6wozls the workaround may be to add a filter : `(&(objectClass=groupOfNames))(memberOf=*)`

[2019-11-06 13:07] bersace commented on #288
@wernermarcel77 would you mind to close the issue if you're ok with the documentation ?

[2019-11-06 21:40] wernermarcel77 commented on #288
Hi
Yes I’m ok thanks a lot !
EG
Marcel

Von meinem iPhone gesendet

[2019-11-07 08:14] #288 closed

[2019-11-07 10:49] bersace commented on #289
@zurikus, It's merged, released. Please test, especially renaming. I still suggest to avoid capital in role name since it violate SQL standard !

[2019-11-07 11:10] zurikus commented on #289
Hello Étienne,
worked like a charm!
Thank you!

`$ ldap2pg -c /etc/ldap2pg/ldap2pg.yml
Starting ldap2pg 5.1.
Using /etc/ldap2pg/ldap2pg.yml.
Running in dry mode. Postgres will be untouched.
Inspecting roles in Postgres cluster...
Querying LDAP ou=.custom,dc=f10,dc=clo... (&(objectCla...
Querying LDAP ou=.custom,dc=f10,dc=clo... (&(objectCla...
Querying LDAP ou=.custom,dc=f10,dc=clo... (&(objectCla

[2019-11-07 11:10] #289 closed

[2020-01-13 16:00] bersace commented on #293
@gi9obru0etuPlc6wozls Please update this issue. Do you still have a bug with this ?

[2020-01-13 16:00] bersace commented on #283
Let's close. Please reopen if you have updates.

[2020-01-13 16:00] #283 closed

[2020-01-29 23:01] bsislow opened #302 "Glob Pattern Wildcard in Blacklist as a Prefix"
Some of the template information you requested isn't necessarily relevant for this case. Please let me know what other information you may need as we progress.

I noticed that you cannot use a prefix of a wildcard in the blacklist glob patterns - for example:
[code]

I noticed you can only do this:
[code]

Can you add prefix glob wildcards? Is there something I am doing wrong?

[2020-01-29 23:04] bsislow opened #303 "Maintaining rolconfig Attributes for Login Roles"
We are currently working on replacing manually created login roles with LDAP-based roles. Some of our manually-created roles have attributes associated with them such as:

[code]

User names were of course anonymized for security purposes.

When the users are recreated with ldap2pg, these configurations will be lost - and I do not know how to maintain them. Can you help?

[2020-01-30 07:49] bersace commented on #303
Hi Bob :-)

ldap2pg does not yet support rolconfig but should keep rolconfig as is. Why are roles *recreated* ? Would you mind to share ldap2pg --verbose logs ?

[2020-01-30 08:50] bersace commented on #302
In YAML, `*user` has a meaning, you should quote it. cf. #195

[2020-01-30 14:41] bsislow commented on #303
Actually, you are correct, they are _not_ recreated - but simply "Nothing to do." Thank you!

[2020-01-30 14:41] #303 closed

[2020-01-30 15:38] bsislow commented on #195
Thank you! I am not familiar enough with YAML.

[2020-01-30 15:42] bersace commented on #195
@bsislow no worry. A note specific on this case is in the documentation : https://ldap2pg.readthedocs.io/en/latest/postgres/#synchronize-a-subset-of-roles

[2020-02-19 10:10] #302 closed

[2020-02-20 17:52] bersace commented on #293
Actually a duplicate of #290 . Closing.

[2020-02-20 17:52] #293 closed

[2020-02-24 15:24] meegoSVK opened #308 "Comment on user for multiple users in one group uses the same displayName for every user in group"
Hi guys!
I got a minor issue while creating users with this unbelievable thing :)
When I want to comment users with member.displayName, it always takes the first name in the group and applies in all comments.

Lets say we got a group called pgsql_admins with 3 users:
ID05711 - Maverick Smith
ID22817 - Demarius White
ID46518 - Malcolm Young

[code]

The output looks like this:

[code]

But I want a

[2020-02-24 20:21] bersace commented on #308
Hi, good catch. I'll work out this in the next weeks. I'm in vacation for now. Thanks for the report !

[2020-03-10 08:56] bersace commented on #308
There is an issue with your need. Each parameter of role rules have different processing.

`parents` and `members` are lists, with static items or expanded from LDAP entry. Theses lists are cloned on each roles generated.

`names` is a list, with static items or expanded from LDAP entry, each item in the list generate a role.

`comment` is not a list. It is considered like `parents` and `members`

[2020-03-13 11:49] frafra opened #311 "Connection fails if using SASL instead of doing simple authentication"
ldap2pg works as expected in Ubuntu 18.04, but it fails if it is executed inside in its container or in Fedora 30 because it tries to use SASL.

As I am using a self-signed CA, I tried both `LDAPTLS_CACERT` and `LDAPTLS_CERT`, which seems to work as expected.
I also tried using ldap instead ldaps, but I get the same result.

Why is ldap2pg adding `-Y` options to try SASL auth in certain environmen

[2020-03-13 12:54] bersace commented on #311
Hi @frafra, thanks for reaching.

`USER` is a SASL parameter. When `USER` is set, ldap2pg switch to SASL. You should use `BINDDN`. Please confirm.

Maybe should I update documentation and/or add a log message.

[2020-03-13 13:04] frafra commented on #311
Hi @bersace,
thank you very much for your quick reply. It worked indeed! :-)

[2020-03-13 13:04] #311 closed

[2020-03-13 13:06] bersace commented on #311
You're welcome :-)

[2020-04-02 08:33] bersace commented on #308
Hi @meegoSVK . I think i came up with a solution. Here is the output from various rules combination. Would you mind to review it ?

[code]

Please report me a combination of entry, name and comment and what you would expect ?

Meanwhile, I'm starting to implement this in ldap2pg.

[2020-04-02 09:10] bersace commented on #308
Ok, i found two edge case in which ldap2pg must fails :

[code]

Are you ok with this behaviour ?

[2020-04-02 12:48] bersace commented on #308
@meegoSVK

[code]

Note that `member.displayName` triggers a client-side LDAP subquery for each role. When running `ldap2pg --verbose`, you have a log line with the time spent querying LDAP directory :

[code]

If synchronisation is slow, check this and avoid the sub-query by using `{member}` (the DN) or something that does not require subquery.

[2020-04-03 07:11] guruguruguru opened #315 "Using existing roles"
Hey Folks,

first: great work, thanks for doing this!

I have two issues:

1. I want to reuse already existing local roles and grant them to the new generated roles, so I right now use a custom privilege for that:

[code]

This does work but as I am not sure how to do a correct inspect part for this the grants are set again on every run. Maybe there is a much more elegant solution?

My second "pro

[2020-04-03 07:34] bersace commented on #315
Hi @guruguruguru . You can also use membership to manage inheritance. See https://ldap2pg.readthedocs.io/en/latest/cookbook/#inherit-unmanaged-role .

Actually, I'm not very happy with the way ldap2pg handle membership. It has a somewhat different perspective than Postgres. ldap2pg should allow to grant any role to another (adding parent) without having to managing parent role.

ldap2pg reassign o

[2020-04-03 09:26] bersace commented on #171
Another solution would be the allows override of queries :

[code]

[2020-04-03 10:58] guruguruguru opened #319 "Config file is searched at the wrong place"
I am not sure if this is a bug but ldap2pg is (in my opinion) looking for the wrong config file:

[ldap2pg.config        INFO] Starting ldap2pg 5.0.
[ldap2pg.config       DEBUG] Trying ./ldap2pg.yml.
[ldap2pg.config       DEBUG] Trying /home/postgres/.config/lda2pg.yml.
[ldap2pg.config       DEBUG] Trying /etc/ldap2pg.yml.
[ldap2pg.config       DEBUG] No configuration file found.

in every place i

[2020-04-03 11:42] bersace commented on #319
Good catch ! :-)

[2020-04-03 11:45] guruguruguru commented on #319
@bersace don't you also think it would be wise to cancel the run if there is absolutely no config? In my case it emptied the whole test database ;-)

[2020-04-03 11:47] #319 closed

[2020-04-03 11:49] #308 closed

[2020-04-03 11:57] guruguruguru opened #321 "Cancel Run if no config at all is found"
Hi,

again I am not sure if this behaviour is intendend. If there is no Configuration at all (no config file, no config from stdin) will lead to removal of almost all roles.
Do you think it is possible to include such a feature? I think especially in automated environments this could lead to disaster.

I would be happy to further discuss this.

Regards,
Dennis

[2020-04-03 12:03] bersace commented on #321
@guruguruguru you're right.

I suggest that, to effectively purge an instance from any roles, an empty sync_map must be explicitly defined :

[code]

On empty or unfound configuration, ldap2pg fails explicitly:

[code]

Is this good ?

[2020-04-03 12:20] guruguruguru commented on #321
@bersace this would be great!

[2020-04-06 08:49] #321 closed

[2020-04-09 07:55] guruguruguru opened #323 "RPM for PG12"
Good morning,

do you know why RPMs are available in the PG11 repo but not in the PG12 repo? What can we do to get the RPM in the PG12 Repository as well?

PG11: https://yum.postgresql.org/11/redhat/rhel-7-x86_64/
PG12: https://yum.postgresql.org/12/redhat/rhel-7-x86_64/

Thanks,
Dennis

[2020-04-09 08:07] bersace commented on #323
I don't have access to yum.postgresql.org repository. This repository is maintained by a team of PGDG members, including Devrim Gunduz.

yum.postgresql.org has its own issue tracker : https://redmine.postgresql.org/projects/pgrpms/

Did you try with the unified repository ?

Anyway, we at Dalibo have our own YUM repository : https://yum.dalibo.org/labs/ . This is where we publish upstream rpm. Thi

[2020-04-09 08:13] guruguruguru commented on #323
Hi @bersace
we are mirroring the official yum repos and we do not want too many different repos mirrored but thanks for the offer! As pgbackrest is missing as well in the repos right now I assume that there is something going wrong.

Regards,
Dennis

[2020-04-09 08:15] bersace commented on #323
Hi @guruguruguru

Agree. That's why we prefer PGDG repository if possible.

Let me know if you have updates on pgrpms redmine.

Regards,

[2020-04-09 09:48] guruguruguru commented on #323
Created an Issue there: https://redmine.postgresql.org/issues/5376

[2020-04-09 09:50] bersace commented on #323
Thanks Dennis !

[2020-04-14 09:17] guruguruguru commented on #323
@bersace All this has to do with the new common repo but I am not really happy with it, as the ldap2pg rpms have dependencies on the pg-version (i dont know if this is needed). So i opened another ticket: https://redmine.postgresql.org/issues/5392

[2020-04-14 09:28] bersace commented on #323
@guruguruguru thanks for the feedback. In the meantime, this may be helpful to ship upstream ldap2pg rpms for CentOS7 in our repos. What do you think of this ?

[2020-04-14 09:45] guruguruguru commented on #323
Well right now I created a workaround in puppet, so ldap2pg gets only installed if PG > 10, this is not perfect but enoght for me right now as we are still in testing phase with ldap2pg

[2020-04-14 09:50] bersace commented on #323
@guruguruguru ok, just let me know :-)

[2020-04-16 06:49] guruguruguru opened #324 "Update local role inherit cookbook [was: Quiet Ouput]"
Good morning,

we are running ldap2pg in a cronjon right now and cron gives us the following output even though it is running in quiet mode:

Role ampua_adddb01_app already exists in cluster. Reusing.
Role ampua_test_read already exists in cluster. Reusing.
Role ampua_test_owner already exists in cluster. Reusing.
Role ampua_adddb01_owner already exists in cluster. Reusing.
Role ampua_adddb01_read

[2020-04-16 06:51] bersace commented on #324
Hi @guruguruguru,

This warnings tells you that theses roles should be returned by `managed_roles_query` but aren't.

ldap2pg warns you because these roles won't be dropped by ldap2pg if they are remove from LDAP directory.

[2020-04-16 06:55] guruguruguru commented on #324
Hi @bersace ,

these roles are local roles (https://github.com/dalibo/ldap2pg/issues/315) that should be granted to ldap roles but not be managed by ldap2pg.

maybe I just did something wrong with it?

Regards,
Dennis

[2020-04-16 06:59] bersace commented on #324
Ok. ldap2pg has somewhat reversed the direction of roles memberships. ldap2pg manages children of roles while Postgres manage parents. This leads to some harder to understand situation.

It's documented here https://ldap2pg.readthedocs.io/en/latest/cookbook/#inherit-unmanaged-role

I'm thinking of changing how ldap2pg manages memberships to be more consistent with PostgreSQL and make this case eas

[2020-04-16 07:00] bersace commented on #324
Actually, we already had this discussion in #315 :-)

[2020-04-16 07:04] guruguruguru commented on #324
@bersace yes thats why i linked #315 ;-) I still dont really get it, should the warnings go away?
If I understand the documentation correct I need to create the local roles but still have to define them in ldap2pg.yml to be able to use them as parent group?

I create the roles:

`psql -c 'create role ampua_test_owner nologin noinherit;'
psql -c 'create role ampua_test_app nologin;'
psql -c 'create

[2020-04-16 07:09] bersace commented on #324
@guruguruguru I guess that these roles should inherit from `ldap_roles` too.

[code]

I think I should update cookbook for this. Would you mind to confirm this ?

[2020-04-16 07:17] guruguruguru commented on #324
Yes this works! Thanks a lot!

[2020-04-16 07:19] bersace commented on #324
Ok, I need to update cookbook. Please keep this issue opened. Do you think #315 is ok ?

[2020-04-16 07:19] guruguruguru commented on #324
Yes!

[2020-04-21 12:22] mignaneB opened #325 "Ldap2pg error"
Hi, when i ran ldap2pg i got those following errors :

[code]

there is the content of my ldap2pg.yml :

[code]

[2020-04-21 13:05] bersace commented on #325
Hi @mignaneB . Thanks for the report. I'll fix this.

You may work around the bug with:

[code]

Your YAML has some oddities, ldap2pg should raise proper error for you.

Please keep this issue opened.

[2020-04-21 14:03] mignaneB commented on #325
oh ok i see.
now i have : Failed to connect: FATAL:  role "root" does not exist when i run ldap2pg

[2020-04-21 14:04] bersace commented on #325
@mignaneB could you post a log output ?

[2020-04-21 14:07] mignaneB commented on #325
i used ldap2pg --verbose and there is the output:
[ldap2pg.config        INFO] Starting ldap2pg 5.2.
[ldap2pg.config       DEBUG] Trying ./ldap2pg.yml.
[ldap2pg.config        INFO] Using /root/ldap2pg.yml.
[ldap2pg.config       DEBUG] Read verbosity from argv.
[ldap2pg.config       DEBUG] Read sync_map from YAML.
[ldap2pg.config       DEBUG] Drop unused hidden privilege __connect__
[ldap2pg.config

[2020-04-21 14:11] bersace commented on #325
It looks like you're running ldap2pg as root. Try running it as postgres or using TCP.

[code]

See https://ldap2pg.readthedocs.io/en/latest/cli/#environment-variables

I should better document the configuration of PostgreSQL connection.

[2020-04-21 14:20] mignaneB commented on #325
thanks i ran it as postgres,
i got this :
Starting ldap2pg 5.2.
Empty synchronization map!
Running in dry mode. Postgres will be untouched.
Inspecting roles in Postgres cluster...
Nothing to do.
Comparison complete.
postgres@ubuntu:~$

it's good but no new role has been created may be i'll have to review my ldap2pg.yaml

[2020-04-21 14:26] bersace commented on #325
@mignaneB what is your ldap2pg.yml file ? *Empty synchronisation map* means you didn't define any roles for ldap2pg either static or from an LDAP query.

[2020-04-21 14:34] mignaneB commented on #325
do you have an example with a sync map defined with a ldap query?

[2020-04-21 14:36] bersace commented on #325
@mignaneB yep :

https://github.com/dalibo/ldap2pg/blob/1dd09417205a774fa4cf4bfe5657c1d7acb37af1/ldap2pg.yml#L121-L130

[2020-04-21 14:38] mignaneB commented on #325
i'll use the one in this example of ldap2pg.yaml : https://github.com/dalibo/ldap2pg/blob/master/ldap2pg.yml#L76

[2020-04-21 14:39] mignaneB commented on #325
thanks let me try and tell you

[2020-04-21 16:28] mignaneB commented on #325
i still have Empty synchronization map! i think it might be with the query on my ldap

[2020-04-22 08:06] bersace commented on #325
@mignaneB *Emtpy synchronization map* is raised before doing any ldap queries. Please share your `ldap2pg.yml`.

[2020-04-30 15:29] bersace commented on #323
@guruguruguru any updates on packaging status ?

[2020-05-07 11:23] mignaneB commented on #325
sorry for that very last respone:
here is my ldap2pg.yml
`verbosity: 5

postgres:
  # Scope the database where to purge objects when dropping roles. This is the
  # scope of grant on `__all__` databases.
  databases_query: [postgres, appdb, olddb]
  # List of managed schema. This skip pg_toast, pg_temp1, etc. but not pg_catalog.
  schemas_query: |
    SELECT nspname FROM pg_catalog.pg_namespace

[2020-05-07 12:01] bersace commented on #325
Thanks @mignaneB . Could you please share full verbose output of ldap2pg ?

[code]

[2020-05-07 12:16] mignaneB commented on #325
sure here is it :
postgres@ubuntu:~$ ldap2pg --verbose
[ldap2pg.config        INFO] Starting ldap2pg 5.2.
[ldap2pg.config       DEBUG] Trying ./ldap2pg.yml.
[ldap2pg.config       DEBUG] Trying /var/lib/postgresql/.config/ldap2pg.yml.
[ldap2pg.config       DEBUG] Trying /etc/ldap2pg.yml.
[ldap2pg.config       DEBUG] No configuration file found.
[ldap2pg.config       DEBUG] Read verbosity from argv.

[2020-05-07 12:49] bersace commented on #325
ldap2pg does not find your file :

[2020-05-07 12:52] mignaneB commented on #325
my ldap2pg.yml is in /root. Is there a way to indicate the path to yml file to ldap2pg ?

[2020-05-07 12:53] bersace commented on #325
@mignaneB yes with `--config` see ldap2pg --help.

[2020-05-07 13:01] mignaneB commented on #325
So i moved my yml file into /etc and try it again and i've got:
Failed to read configuration: [Errno 13] Permission denied: '/etc/ldap2pg.yml'
so i made a chmod 777 and run again
Starting ldap2pg 5.2.
Using /etc/ldap2pg.yml.
YAML error with /etc/ldap2pg.yml: while parsing a block mapping
  in "/etc/ldap2pg.yml", line 1, column 1
expected <block end>, but found '<block mapping start>'
  in "/etc/ld

[2020-05-07 13:17] bersace commented on #325
@mignaneB Would you mind to post full output of `ldap2pg --version` ?

[2020-05-07 13:22] mignaneB commented on #325
yes sure :

ldap2pg 5.2
psycopg2 2.8.5 (dt dec pq3 ext lo64)
python-ldap 3.2.0
Python 3.5.2 (default, Oct  8 2019, 13:06:37)
[GCC 5.4.0 20160609]

[2020-05-07 13:30] bersace commented on #325
Why is the ldap section somewhere in the middle of the sync_map list ? Line 93.

The overral structure of ldap2pg.yml should be:

[code]

[2020-05-07 13:43] mignaneB commented on #325
i use this example of ldap2gp.yml https://github.com/dalibo/ldap2pg/blob/master/ldap2pg.yml#L76

[2020-05-07 16:16] bersace commented on #325
@mignaneB Here is the diff between master and your config :

[code]

The invalid section is

[code]

This section must be **above** `sync_map:`

[2020-05-26 13:28] bersace commented on #325
@mignaneB Do you have some updates on this ?

[2020-05-26 17:05] mignaneB commented on #325
sorry i've been very busy:
here is it i thnik i respect the good format ?! :
verbosity: 5

postgres:
  # Scope the database where to purge objects when dropping roles. This is the
  # scope of grant on `__all__` databases.
  databases_query: [postgres]
  # List of managed schema. This skip pg_toast, pg_temp1, etc. but not pg_catalog.
  schemas_query: |
    SELECT nspname FROM pg_catalog.pg_namespa

[2020-05-27 08:33] bersace commented on #325
@mignaneB you still have multiple ldap entries before sync_map. Here is the yaml structure, with spaces shown as ¬ for the sake of precision :

[code]

[2020-05-27 21:21] mignaneB commented on #325
ok i see i'll feedback when i correct my file

[2020-05-29 12:35] bersace commented on #315
@guruguruguru I'm closing, don't hesitate to reopen if updates.

[2020-05-29 12:35] #315 closed

[2020-06-19 09:40] guruguruguru opened #334 "ldap2pg spits SQLASCII if postgres locale is C"
## ldap2pg.yml
[code]

## Expectations

Works on CentOS7 with Version 5.0 (python2)
Does not work on CentOS8 with Version 5.4.1 (python3)

## Verbose output of ldap2pg execution

<details><summary>Verbose output</summary><pre>
[ldap2pg.config        INFO] Starting ldap2pg 5.4.
[ldap2pg.config       DEBUG] Trying /etc/postgresql/ldap2pg.yml.
[ldap2pg.config        INFO] Using /etc/postgresql/ldap2p

[2020-06-19 09:50] bersace commented on #334
Hi @guruguruguru , thanks for the report.

Can you give me the verbose log with 5.0 on CentOS 7 ? Is it related to Python3/CentOS8 or ldap2pg 5.4 ?

[2020-06-19 10:24] guruguruguru commented on #334
[code]

[2020-06-19 10:25] guruguruguru commented on #334
Or do you want me to delete the roles before as there is nothing to do right now on the centos7 machine ;-)

[2020-06-19 11:29] bersace commented on #334
@guruguruguru yes, please :-)

[2020-06-19 12:28] guruguruguru commented on #334
[code]

[2020-06-22 11:57] guruguruguru commented on #334
@bersace I just downgraded ldap2pg to version 5.2, same error. Maybe it has to do with the CentOS 8.2 Release, I will try to install an older CentOS

[2020-06-24 08:13] guruguruguru commented on #334
@bersace We found out that during our deployment process in CentOS8 it sometimes seems to be missing the correct locale and so creates the DB with SQL_ANSII locales. This is still not really reproducable but definitely is the reason for the errors.

Sorry for this, it seems it has nothing to do with ldap2pg itself (except you want ldap2pg also working with SQL_ANSII)

[code]

[2020-06-24 12:00] bersace commented on #334
Thanks @guruguruguru I'll check how ldap2pg could handle gently such situation.

[2020-06-26 08:20] meegoSVK commented on #282
Hello.
Would it be possible to implement that do nothing on empty group as you mentioned earlier?

I wanted to use ldap2pg to synchronize our AD with several postgresql engines.
We have a policy, that we have groups that are intentionaly empty on creation.
For example we do not want to delete users from applications/databases and preserve their groups.
But when someone leaves for example for mater

[2020-06-26 08:21] meegoSVK commented on #308
@bersace I am sorry, that I did not replay earlier.
It is working fine now!
Thank you very much!

[2020-06-26 08:51] bersace commented on #282
Hi @meegoSVK . That's fair.

Just thinking loud. What do you think of something like:

[code]

This is so common that this could be the default. Maybe with a warning message.

[code]

What do you think of this ? Both of you :-)

[2020-06-26 09:39] meegoSVK commented on #282
Hi @bersace
That would be awesome!

[2020-06-26 10:13] andersbogsnes commented on #282
Looks good to me! Seems like a very useful feature, and the warning is definitely a good way to avoid foot-guns!

Is there a flag for treating warnings as errors if the user wants to run in “strict mode” ala Sphinx?

[2020-06-26 10:16] bersace commented on #282
Hi @andersbogsnes treating warnings as error is a good idea. I suggest you to open an issue or maybe complete this to #286

[2020-06-26 12:03] bersace commented on #282
Hu, that's odd. There ldap2pg already defaults missing attributes to `[]`.

https://github.com/dalibo/ldap2pg/blob/master/ldap2pg/manager.py#L59

[2020-06-26 13:48] andersbogsnes opened #338 "Add a flag to treat warnings as errors"
When running ldap2pg, it can be useful to be able to upgrade a warning to an error, so that we get a failure. This is a good way to quickly see if something could be wrong with my configuration, while allowing ldap2pg to adopt warnings for corner cases.

[2020-06-26 13:49] andersbogsnes commented on #282
Created #338

[2020-06-26 13:51] bersace commented on #338
Thanks @andersbogsnes

In #337 , I change a warning to an error. I also changed behaviour on mispelled attribute to raise an error. This make ldap2pg less sloppy.

This is a good reason to implement #286 . It's easy to check for warning if we count them.

@andersbogsnes do you prefer to stop on first warning (i.e. make warning critical) or continue but fail in the end if there has been one or more

[2020-06-26 14:39] andersbogsnes commented on #338
If I'm running in strict mode, it's generally because I want to fail fast and get immediate feedback - that is also the behaviour of other tooling, including python:

Sphinx: https://www.sphinx-doc.org/en/master/man/sphinx-build.html (See the -W flag)
Python: https://docs.python.org/3/using/cmdline.html#cmdoption-w (when running in -Werror mode)

[2020-06-26 15:16] bersace commented on #338
Great. So i suggest a `--strict` switch flag with the YAML counterpart `strict: yes`. Fail fast on first warning.

[2020-06-27 09:33] #282 closed

[2020-07-08 07:44] meegoSVK commented on #282
Hi @bersace !

Thanks for implementing missing attributes.
But it looks like I am missing something :(

I tried using allow_missing_attributes, but I always get:
[code]

Here is YAML:

[code]

Here is output from verbose mode:

[code]

This happens when it tires to query empty group.
I know, I can make special `-ldap` entry for every group, but this is what I want to avoid and have "automatized".

[2020-07-14 13:29] meegoSVK commented on #282
Hi @bersace

I found out, that querying for `{member.displayName}` and `{member.sAMAccountName} makes the problem.

So when I change the YAML to:
[code]

Everything works fine.
But I am missing the displayName in comment, and I have to rely on that sAMAccountName is same as CN.

[2020-07-15 07:26] bersace commented on #282
@meegoSVK I have a WIP code to fix the combination of member.* in several fields to make ensure more consistency. The sub-query feature had some consequences in formating combination that I didn't spotted early.

[2020-10-02 05:55] HermanPool opened #343 "ldap2pg: [ldap2pg.script CRITI] Failed to connect to LDAP: {'desc': "Can't contact LDAP server"}"
All,

I am pretty new to LDAP.
I have installed openldap, phpldapadmin on a centos 7 server and postgres (PostgreSQL 12.4) and ldap2pg (with RPM's from the dalibo repo) on another centos 7 server.
I can login into ldap from phpldapadmin.
If I do a ldapsearch (ldapsearch -H ldap://192.168.56.121 -D cn="svc_rvig_pgauth,DC=winbhr,DC=nprreg,DC=lan" -W -b "DC=winbhr,DC=nprreg,DC=lan" objectClass=*) on

[2020-10-05 12:18] bersace commented on #343
Hi @HermanPool , thanks for reaching !

ldap2pg has `ldaps` (port 636) while ldaprc has `ldap` (port 389). This is why `Can't contact LDAP server`.

for ldapsearch, ask directory administrator for correct username and password. Not sure about BINDDN usage.

[2020-12-02 07:06] kawehk89 opened #348 "Recursive LDAP queries"
We are currently evaluating ldap2pg for synchronizing database users (Postgres roles which are meant to log in and receive specific privilege sets based on parent roles, under which those (user-)roles should be created). We love ldap2pg so far, but have a use case / requirement which we have not been able to determine do-ability via ldap2pg.

We would like to achieve the following:

- We’d require

[2020-12-10 16:12] mgiritli opened #349 "Use STARTTLS when connecting to ldap server"
I was wondering if ldap2pg supports connecting to LDAP servers using STARTTLS (instead of ldaps)? I could not find any configuration options mentioned in the documentation.

[2020-12-11 15:25] bizen-ya opened #350 "LDAPCONF and LDAPRC not taken in account"
## ldap2pg.yml

-- je ne pense pas que cela soit utile, problème rencontré sur la CLI.

## Expectations

Le fichier de config openldap n'est pas sourcé par défaut, je tente de le charger avec $LDAPCONF

LDAPCONF=/etc/openldap/ldap.conf ldap2pg -c ${MYDIR}/files/ldap2pg.yml --real

## Verbose output of ldap2pg execution
Fichier non chargé, mais on voit bien que la variable est prise en compte :

<d

[2020-12-13 11:36] periloung opened #351 "Working with existing pg roles without grants ."
Hello and thank you for you'r job .

We have many existing roles and users in our pg environment . Now we are trying to add AD users sorted by groups to this roles without fixing any grants .  Is there some way to accompish this with ldap2pg ? Something like "roles_query: null " but for grant query's ?

[2020-12-13 14:07] periloung commented on #351
Found solussion  .
Just don't need to add  privileges ,  grant sections to yml. Only user mapping and role parrent .
Thank you for you'r job again .

[2020-12-13 14:07] #351 closed

[2021-02-25 14:49] bizen-ya commented on #348
Hello Kaweh,

You can try with AD extensions:

- description: "Query LDAP to create superusers."
  ldap:
    base: "OU=Groups,OU=xxxxxxx,OU=xxxxxxxxx,DC=xxxxxxxx,DC=xxxxxxxx,DC=xxxxxxxx"
    filter: "(|(memberOf:1.2.840.113556.1.4.1941:=CN=<Group name>,OU=Groups,OU=xxxxxxxxx,OU=xxxxxxx,DC=xxxxxxx,DC=xxxxxxx,DC=xxxxxx))"
    on_unexpected_dn: warn
  role:
    # LDAP attribute member is a Distinguis

[2021-02-25 15:12] bizen-ya opened #353 "Reassign fail when dbowner has '-' in it's name"
When an user is removed from the group, ldap2pg try to reassign the objects, but the target user has '-' in his name

Problem 1 : The reassign fail
Problem 2 : The target user is current session , not db owner.

## ldap2pg.yml

## Expectations

Réassign objects to the dbowner user

## Verbose output of ldap2pg execution

<details><summary>Verbose output</summary>

Starting ldap2pg 5.5.
Using /tmp/

[2021-03-02 15:55] micahthepenguin opened #354 "Can't define sasl_mech in /etc/ldap2pg.yml"
To enable Kerberos for authenticating LDAP queries, it would be convenient to set `sasl_mech: GSSAPI` in `/etc/ldap2pg.yml` where other LDAP parameters can be set, but I get `Unknown config entry: ldap:sasl_mech.` in the verbose output when attempting to set it there.

Can `sasl_mech` be added to the known config parameters, or was it left out intentionally?

I am able to work around this by addin

[2021-03-11 15:20] frafra opened #355 "Use as Python library"
It would be nice to have a function to call ldap2pg synchronization which does not try to parse `sys.args` and uses a dict as configuration instead of a file, so that ldap2pg can be used inside another Python program, without relying on `subprocess`.

[2021-03-11 15:32] frafra opened #356 "Mixing static role with LDAP query may hide it"
## What do you want?

This configuration works with ldap2pg 5.0 and 5.1, but not with  ldap2pg 5.2 and higher. I get the following error, but I do not understand what to do.

`Failed to load configuration: Mixing static role with LDAP query may hide it.`

## ldap2pg.yml

[code]

[2021-04-12 11:44] bersace commented on #355
Hi @frafra, thanks for reaching !

Interesting. Can you detail me some use case ?

By `dict`, you me the actual YAML content as parsed by pyyaml ?

How would you handle envvars ?

Regards,
Étienne

[2021-04-12 11:45] bersace commented on #323
Closing. Please reopen if updates.

[2021-04-12 11:45] #323 closed

[2021-04-12 11:49] bersace commented on #325
Closing. Please reopen if updates. :gift:

[2021-04-12 11:49] #325 closed

[2021-04-12 11:51] bersace commented on #343
Closing. Please reopen if updates. :gift_heart:

[2021-04-12 11:51] #343 closed

[2021-04-12 11:54] bersace commented on #348
Hi @kawehk89 . As of now, ldap2pg only supports one level of sub-query for *all* values of an attributes.

Do you mix Group and Person entities in the same attribute ?

[2021-04-12 11:54] bersace commented on #349
Hi @mgiritli, thanks for reaching !

You should configure starttls with regular ldaprc file.

[2021-04-12 11:58] bersace commented on #350
Salut @bizen-ya , merci pour le retour.

J'ai un doute sur le problème. J'ai l'impression qu'il y en a deux.

1. le fichier '/etc/openldap/ldap.conf' n'est pas recherché par défaut.
2. Le fichier indiqué par `LDAPCONF` n'est pas chargé.

Peux-tu me confirmer ces deux problèmes ou l'un des deux ?

[2021-04-12 12:16] bersace commented on #354
Hi @micahthepenguin , thanks for the report.

I suggest to avoid at most connexion configuration in ldap2pg.yml. It is not read by ldap utils, and requires extra code pretty dumb that need to be synchronized with libldap.

I suggest to ship a ldaprc file along ldap2pg.yml. Your workaround is actually the expected behaviour.

[2021-04-12 12:18] bersace commented on #356
Hi @frafra.

Yes, ldap2pg 5.2 added this check. This avoid dropping static roles if ldap queries returns no entries.

I'm thinking of another way to deal with this, by extracting the static rule from the ldap rule after parsing the configuration.

[2021-04-12 16:57] micahthepenguin commented on #354
Understood.  Thanks.

[2021-04-12 16:57] #354 closed

[2021-04-14 06:40] frafra commented on #355
Sure :) I have a program which setups and configure Postgres databases, run some routines, including executing ldap2pg based on a template configuration file. I use suprocess for that at the moment, but it would be nicer to call ldap2pg from Python.

Yes.

As a **kwargs or as a function argument?

[2021-04-14 07:31] bersace commented on #355
Ok, I suggest an API like this:

[code]

You could use it like:

[code]

This would raise regular exception on failure. Logging won't be configured and nor sys.exit be called.

What do you think of this ?

[2021-04-14 10:13] frafra commented on #355
That would be great :)

[2021-04-16 10:12] bersace commented on #353
Salut, Peux-tu exécuter avec `--verbose` ? Ça permet de voir la requête complète. Merci :+1:

[2021-04-16 13:01] bizen-ya commented on #350
Bonjour @bersace ,

Effectivement j'aurais peut être du ouvrir deux case séparés

J'ai eux le premier problème ( corigé #358 , merci :) ) , et suis tombé sur le second en essayant de contourner le premier.

[2021-04-16 13:18] bizen-ya commented on #353
J'ai du réduire le log et modifier les champs pour des questions d'anonymisation, désolé 😊

[code]

[2021-04-16 13:28] bizen-ya commented on #353
super 👍

Le fait de réassigner au SESSION_USER , et non pas au databaseowner , c'est voulu ?

[2021-04-16 13:30] bersace commented on #353
@bizen-ya c'est le premier choix qui est venu et toutes propositions est bienvenue :-) Je suggère d'ouvrir un autre ticket pour suivre l'évolution du code pour assigner au database owner.

[2021-04-23 13:40] orgrim opened #362 "Control role case sensitivity"
Hello,

ldap2pg creates roles with the same case as the input attibute value. When importing from Active Directory, the value can end up lower or uppercase.

It forces users to take case into account when login or managing roles created by ldap2pg.

Would it be possible to add a configuration options to force role names lower case or uppercase?

Regards

[2021-04-29 15:46] #362 closed

[2021-05-26 11:53] mtherio opened #367 "ldap2pg without kerberos"
In our organization, the security team does not want to use Kerberos. This approach cause me problem when I try to run a ldapsearch with SASL. I receive this error message:

ldap_sasl_interactive_bind_s: Local error (-2)
        additional info: SASL(-1): generic failure: GSSAPI Error: Unspecified GSS failure.  Minor code may provide more information (No Kerberos credentials available (default cac

[2021-05-26 12:28] bersace commented on #367
Hi @mtherio , thanks for reaching.

Configure ldapsearch through ldaprc file and ldap2pg should work too. ldap2pg uses the same library as ldapsearch, ldapwhoami and other ldap utils. See ldap.conf(1) and `SASL_MECH` option.

Regards,
Étienne

[2021-05-26 16:07] HermanPool opened #368 "How to alter role ldap_roles in the ldap2pg.yml script"
I use enterprisedb postgres.
How can I alter the role ldap_roles in the ldap2pg.yml file?
After creating the role ldap_roles I want to alter the role with the statement:
alter role ldap_roles set edb_audit_statement to 'all'

I want to alter the role in the ldap2pg.yml file and not in a seperate sql file or script.

[2021-05-27 06:53] bersace commented on #368
Hi @HermanPool , thanks for reaching.

There is nothing like custom sql as of now in ldap2pg, except for privileges.

There is a workaround through, but quite ugly, use a privilege. Something like :

[code]

YMMV.

This looks like #171.

[2021-06-21 14:59] bersace commented on #350
Released in ldap2pg 5.6 \o/

[2021-06-21 14:59] #350 closed

[2021-06-21 14:59] bersace commented on #355
Available just now in ldpa2pg 5.6 :-)

[2021-06-21 14:59] #355 closed

[2021-06-21 15:00] bersace commented on #356
Fixed in ldap2pg 5.6.

[2021-06-21 15:00] #356 closed

[2021-06-21 15:00] bersace commented on #353
Corrigé dans ldap2pg 5.6

[2021-06-21 15:00] #353 closed

[2021-06-21 15:01] bersace commented on #349
Closing. Please reopen if you have updates.

[2021-06-21 15:01] #349 closed

[2021-06-21 15:01] bersace commented on #367
Stale. Please reopen if you have updates.

[2021-06-21 15:01] #367 closed

[2021-06-21 15:02] bersace commented on #348
Stale. Please reopen if updates.

[2021-06-21 15:02] #348 closed

[2021-06-22 19:20] refriedjello opened #370 "Unable to bind to LDAPS domain"
I just started trying to get ldap2pg to work for me. At the moment I am just trying to connect to the domain with ldap2pg so that queries can be performed. Please note, that the machine is joined to the domain in question using CentrifyDC and that ldapsearch command works as I expect. However when I test my config I receive the following error:

[code]

Below is the contents of /etc/ldap2pg.yml :

[2021-06-22 22:16] refriedjello commented on #370
I was able to get this working. Running the `ldap2pg` command with the `-v` flag showed that it was not reading my openldap client configuration file at /etc/openldap.ldap.conf so I created a symlink for it:

[code]

Then I was able to connect with these settings in ldap2pg.yml for LDAP:

[code]

And I used these settings in my `/etc/openldap/ldap.conf` file, where `TLS_CACERT` is a combination PE

[2021-06-22 22:16] #370 closed

[2021-06-23 07:23] bersace commented on #370
Hi @refriedjello thanks for reaching.

I'm glad that verbose messages helps you to find the workaround. This issue has been reported at #350. Yesterday, I just released ldap2pg 5.6 which fixes this issue by reading openldap.conf too !

RPM are now available for CentOS 8, 7 and 6 at https://yum.dalibo.org/labs .

Thanks !

[2021-07-26 12:34] HermanPool opened #372 "Difference in connecting to LDAP server with version 5.5 and 5.6"
I get a difference in connecting to my LDAP server with ldap2pg version 5.5 and 5.6
In version 5.5 everything goes well.

With version 5.5, I see in the log file:
Connecting to LDAP server ldaps://ldapserver.lan
Trying simple bind.
Doing: ldapwhoami -x -D CN=......................
Running in dry mode. Postgres will be untouched
Connecting to Postgres libpq default.

In version 5.6, I see in the lo

[2021-07-28 07:13] lakdahoo opened #373 "Crash on bad syntax in ldaprc"
## What do you want?
How we can configure the ldap2pg.yml with nested group for finding users in incursive groups

I want to configure ldap2pg.yml for synchronising between ldap and postgres database. maybe i misunderstood how to configure it.

## ldap2pg.yml

<details><summary>ldap2pg.yml</summary>
sync_map:
# A single static roles
- role:
   name: GL-DBI-DIS-PROD-RW
   options: NOLOGIN
- ldap:

[2021-08-09 07:43] bersace commented on #372
Hi @HermanPool , thanks for reaching.

After the changelog at https://ldap2pg.readthedocs.io/en/latest/changelog/#ldap2pg-56, I guess that you have something in `/etc/openldap/ldap.conf`. What tells ldap2pg --verbose about this ?

Regards

[2021-08-09 09:12] bersace commented on #373
Hi @lakdahoo, thanks for reaching !

It looks like ldap2pg didn't hit an unexpected syntax in an ldaprc file. Could share a verbose output and a redacted version of your ldaprc files ?

Regards,
Étienne

[2021-08-11 04:51] lakdahoo commented on #373
Hi,

Thank you for your answer.

I already resolved my issue.

Regards.
Lak

Le lun. 9 août 2021 à 11:12, Étienne BERSAC ***@***.***> a
écrit :

[2021-08-11 09:03] bersace commented on #373
Hi @lakdahoo. Can you still share with me the bad line so that ldap2pg could produce a meaning full message ?

Regards

[2021-08-18 12:15] guruguruguru commented on #323
@bersace hey I know this issue is closed, but again there are no new ldap2pg packages in the postgres-common repo.

[   ] python3-ldap2pg-5.4-2.rhel7.x86_64.rpm                        2020-11-18 10:12   77K
[   ] python3-ldap2pg-5.5-1.rhel7.x86_64.rpm                        2021-04-27 14:34   82K

those two are available.

[2021-08-27 10:41] jeanpommier opened #374 "LDAP_PORT overrides LDAPPORT"
## What do you want?
Properly configure the LDAP

## details

Hi,
I'm using the dalibo/ldap2pg:5.5 docker image with the [config file provided in the doc](https://raw.githubusercontent.com/dalibo/ldap2pg/master/ldap2pg.yml). For now, I'm just trying the connection parameters, using the environment variables,

`PGDSN=postgresql://georchestra:super_secret_password@postgis-user/georchestra LDAPURI=ld

[2021-08-30 06:11] bersace commented on #323
Hi @guruguruguru . Packaging of postgres-common in managed by PGDG at https://redmine.postgresql.org/projects/pgrpms

[2021-08-30 06:39] bersace commented on #374
Salut, peux-tu partager les messages verbeux ?

[2021-08-30 07:29] jeanpommier commented on #374
Oh, yes, sorry:
[code]
BTW, using the ldap2pg client from my computer (with some port forwarding to access the remote DB & LDAP) works. It's when I try to run it from a docker image on my infra that it give this error message: maybe the docker image is damaged/not up-to-date ?
Thanks

[2021-08-30 10:01] bersace commented on #374
Looks like you have a `LDAP_PORT` env var that contains `tcp://10.43.1.145:389`. What does docker inspect shows ?

[2021-08-30 11:41] jeanpommier commented on #374
Yes, this is my LDAP container. It's on Kubernetes, so not docker. But I have the ldap service opened on port 389, so it should work.
![image](https://user-images.githubusercontent.com/4491521/131333789-152085f8-66ea-4829-8d42-47a532515e75.png)

[2021-08-30 11:50] bersace commented on #374
@jeanpommier What is generating `LDAP_PORT=tcp://10.43.1.145:389` ? It should be `LDAPPORT=389` with single integer and without underscore. see ldap.conf(5).

[2021-08-30 12:26] jeanpommier commented on #374
Good question. I'd say your docker image, since I'm not giving that env var anywhere (and if it were on my side, it would not be reported by ldap2pg, right ?

[2021-08-30 12:31] bersace commented on #374
There is no bash script wrapping ldap2pg in the docker image. Maybe is it an env var from kubernetes ? Would be great to inspect the pod for what env vars are sent to the container.

[2021-08-30 12:32] jeanpommier commented on #374
mmmh, investigating a bit, I'm finding that same env var in my LDAP container, so it may come from the ldap container.
Which is weird, I'm not declaring it, so it must be an internal env var from this container (generated from [this code](https://github.com/georchestra/georchestra/tree/master/ldap)).

Would it be some legacy ldap config trailing around, that would mess with ldap2pg ?

[2021-08-30 12:33] jeanpommier commented on #374
oh, yes, it may also be some auto-generated env var from kubernetes. I'll investigate that tomorrow (can't right now)

Thanks, I'll keep you posted

[2021-08-30 12:35] jeanpommier commented on #374
Yes, running printenv, I indeed get that env var in the ldap2pg container. I'll try overriding it, to see what happens

[2021-08-30 16:12] jeanpommier commented on #374
OK, overriding the LDAP_PORT env var seems to solve the issue. So I guess that ldap2pg is also looking for that variable, behind the scenes. Unfortunately it seems to take precedence over LDAPPORT variable, but I believe I'll be able to manage.

Thanks for the help !

[2021-08-31 06:15] bersace commented on #374
LDAP_PORT is an old feature that I didn't dropped for compatibility reason. I prefer to use regular LDAPPORT from openldap project.

[2021-08-31 16:25] frafra opened #375 "Latest version of ldap2pg on pypi is 5.5 (not 5.6)"
On June 21th the new version of ldap2pg has been released: b0298fb
I was trying to upgrade to 5.6, but it is missing from pypi at the moment (31th of August).

[2021-09-01 06:11] bersace commented on #375
Fixed. Grazie mille !

[2021-09-01 06:11] #375 closed

[2021-09-02 14:26] frafra opened #376 "Support "postgresql://" DSN in addition to "postgres://""
-- http://www.postgresql.org/docs/current/static/libpq-connect.html#LIBPQ-CONNSTRING

I tried to use "postgresql://" with ldap2pg, but I get a strange error: `Failed to connect: FATAL:  database "postgres dbname=customdatabase" does not exist`. I looked at the code and I figured out that only "postgres://" is allowed as prefix.

https://github.com/dalibo/ldap2pg/blob/9e3d08e64b92c49e8b1ee5dfaaca1c

[2021-09-17 14:00] #376 closed

[2021-09-21 09:50] guruguruguru commented on #323
@bersace https://redmine.postgresql.org/issues/6773

[2021-10-05 20:49] jeanpommier opened #378 "cn.lower() raises AttributeError: 'str' object has no attribute 'lower()'"
Hi,
While the doc states that we can use lower() / upper() functions, it doesn't seem to work in my case.

I'm using the latest docker image.

## ldap2pg.yml

<details><summary>ldap2pg.yml</summary>

[code]
</details>

## Expectations

- What you expected from ldap2pg ?
I would expect the roles extracted from the LDAP query to be lower, as per {cn.lower()}
- What ldap2pg did wrong ?
It raises an e

[2021-10-06 06:58] bersace commented on #378
Salut. This feature is available in ldap2pg 5.6. See https://ldap2pg.readthedocs.io/en/latest/changelog/#ldap2pg-56 .

[2021-10-06 07:10] jeanpommier commented on #378
Oh, OK, je pensais que l'image docker `latest` était à jour.
Je vais m'en compiler une pour le v5.6 alors, pas de souci
Merci !

[2021-10-06 07:38] #374 closed, assigned to nobody

[2021-10-06 07:38] bersace commented on #378
Ah zut, l'image Docker n'est pas à jour à cause du changement de politique de Docker hub. Je rouvre pour ce point. Merci d'avoir remonté ça !

[2021-10-06 07:51] jeanpommier opened #379 "Can schema be created dynamically using ldap2pg ?"
Hi,
Thanks for this tool (and for sharing it). I'm still in the phase of checking if it can fulfill my needs

## What do you want?

In my LDAP records, I will have roles with the following syntax PSQL_[SCHEMA]_[ROLE]
For instance PGSQL_STATSOFFICE_WRITER means that the member of this role will have `write` privileges to the `statsoffice` schema. All will happen in a single database.

I'm still try

[2021-10-06 07:55] jeanpommier commented on #378
On the home-built image for 5.6, I don't have colored output anymore. That's a pity, it was easier to make the distinction between verbose stuff and more important stuff. Is it something you have removed ?

[2021-10-06 08:43] jeanpommier commented on #379
Mmmh, yes, I think so, thanks for pointing up this ticket, I hadn't seen it.
I'd like the schema to be named statsoffice (just a substring of the role) but I suppose I'll be able to manage this with some string manipulations in the SQL query.

The next step will be to be able to refer to this schema in the grant rule. Is there a way to do it, in case it's only a substring (e.g. `statsoffice` in th

[2021-10-06 08:53] jeanpommier commented on #379
Je crois que je commence à perdre pied dans la configuration. Serait-il possible, par hasard, de t'embaucher pour m'écrire la config ? Tu peux me contacter à jean.pommier à pi-geosolutions.fr

[2021-10-06 08:56] jeanpommier commented on #378
nice catch.
Yes, the image seems perfectly fine, let's close the ticket

[2021-10-06 08:56] jeanpommier commented on #378
Thanks

[2021-10-07 08:31] jeanpommier commented on #171
@bersace, is it still considered ? This looks quite interesting. Would definitely be useful for me !

[2021-10-07 15:13] jeanpommier opened #380 "use docker secrets to pass PG and LDAP passwords"
Hi,
he postgres docker image, for instance, allows to pass the postgresql password as a docker secret, using the POSTGRES_PASSWORD_FILE environment variable

Do you support something  similar, both for PG and LDAP passwords, in your docker image ?
I can't really figure out where you parse the environment variables (for instance PGPASSWORD)
Thanks

[2021-10-07 15:26] bersace commented on #380
Configuration marshalling is implemented in https://github.com/dalibo/ldap2pg/blob/master/ldap2pg/config.py

env var is built from yaml tag name. `color` is mapped to `LDAP2PG_COLOR`. Mapping is declared at https://github.com/dalibo/ldap2pg/blob/master/ldap2pg/config.py#L396 .

PGPASSWORD is a regular libpq env var. ldap2pg does not manage this.

Loading _FILE seems a good idea. It should add a de

[2021-10-19 06:45] bersace commented on #380
@jeanpommier , ouaip, je veux bien voir un patch avec la version originale en bash de fileenv dans entrypoint.sh.

[2021-10-22 11:28] guruguruguru opened #382 "Roles are not getting deleted after the LDAP Group is removed from config"
Hi,

I just found out that if i remove a LDAP group from my config, the users/roles that were in this group are not getting removed from postgres.

Logfile says:

I am not sure if I am just missing a setting? Do you have any idea?

Edit/To add: Users that are deleted from a used LDAP group are dropped

Thanks Dennis

[2021-10-22 12:09] #382 closed, assigned to nobody

[2021-11-08 08:26] bersace commented on #382
You're welcome. :+1:

[2021-11-10 12:57] chcharlet opened #383 "ldap2pg does not support starttls"
ldap2pg does not work when the LDAP server requires TLS via the starttls mechanism. ldap2pg fails with a "confidentiality required" error.

To support this ldap2pg would need a new switch and when this is activated call start_tls_s() on the LDAP connection immediately after initialisation. I've experimented a little and I don't think further changes are needed. All configuration regarding certs ca

[2021-11-10 15:58] patcamen opened #384 "Add Audit Logfile Capability"
It would be great for auditing purposes if the ldap2pg tool could write verbose output to a logfile with timestamps - while it may retain the current output format without timestamps for the console for readability purposes.
Alternatively a flag to just enable timestamps in the current verbose console output would work also - in which case the output can then be redirected to a file if needed. An

[2021-11-10 16:06] bersace commented on #384
Hi @patcamen . Interesting. I'm willing to make ldap2pg a good citizen with splunk and other auditing tools. Can you forge some sample of log lines you expect ?

For auditing, do you need only `CHANGES`,  `WARNING`, `INFO` and `ERROR` messages ? Please share me a sample audit file you would like ldap2pg to generate. Or do you need the full verbose log for auditing ? Do you need to configure auditi

[2021-11-10 18:11] patcamen commented on #384
Hi @bersace ,
attached you find a mocked sample for what would be my ideal audit log format - [ldap2pg_audit_log_sample.txt](https://github.com/dalibo/ldap2pg/files/7514721/ldap2pg_audit_log_sample.txt)
Note: the real audit log would not feature the same timestamp on all lines of course.

The sample contains a subset of the current `DEBUG` messages only that I would consider as audit relevant plus

[2021-11-16 09:10] m3nthal opened #387 "ldap2pg takes a long time on ldapwhoami"
Hi,

I am using the following version on ldap2pg:
[code]
connecting to ldap with:
[code]

when running `ldap2pg --verbose` I get this:
[code]

You can see that `ldapwhoami` step takes 16 seconds. When I run the same command manually, it runs under a second.
What could be the issue here?

[2021-11-16 09:40] bersace commented on #387
Hi @m3nthal . The log message is misleading. ldap2pg is not **Doing** a ldapwhoami but calling `simple_bind` (see previous message). Can you confirm that following LDAP searches are fast ?

You may have more information with strace or other low level debugger.

[2021-11-16 09:55] m3nthal commented on #387
Hi @bersace, thank you for replying.
LDAP searches might take a while for sure. I am not good with debugging tools, so if you could give me a hand with debugging commands - will be super helpful. Which LDAP searches does `simple_bind` perform? Maybe I could test them with `ldapsearch` command to compare. Is there any way I can optimise `binddn` to speed up the binding process?

[2021-11-16 10:00] #373 closed

[2021-11-16 10:00] bersace commented on #368
Closing stale issue.

[2021-11-16 10:00] #368 closed

[2021-11-16 13:12] #334 closed

[2021-11-16 13:13] bersace commented on #372
Closing stale issue.

[2021-11-16 13:13] #372 closed

[2021-11-16 13:18] bersace commented on #387
Hi @m3nthal ,

`simple_bind` is only the authentication API call. It's done a single time. This is why ldap2pg logs `ldapwhoami` rather than `ldapsearch`. ldap commands logged by ldap2pg are hint to reproduce equivalent action using OpenLDAP utils, but ldap2pg does use libldap directly.

Sometime, I use `strace ldap2pg` to know why it's blocking (Is it DNS ? Network ?). Beware that this produces a

[2021-11-17 14:53] diegodblr opened #390 "TypeError: query_ldap() got an unexpected keyword argument 'uri'"
## What do you want?

Hi there! I am trying to use ldap2pg to synchronize my AD in my postgresql. I dont know how to configure the ldap2pg.yml correctly. Can somebody help me?
![image](https://user-images.githubusercontent.com/22057262/142223065-133662e6-ca80-42d6-9dcf-d441145a914d.png)

## ldap2pg.yml

<details><summary>ldap2pg.yml</summary><pre>
postgres:
  dsn: postgres://postgres:postgres@127.

[2021-11-17 15:40] bersace commented on #390
Hi @diegodblr . ldap sections are mixed in ldap2pg.yml. I'm thinking of renaming `ldap` entry in `sync_map` to `ldeapsearch` to distinguish them.

[code]

Please keep this issue open as ldap2pg must at least not spit a traceback with such config, and I'll track `ldapsearch` rename here.

[2021-11-18 07:24] #383 closed

[2021-11-18 07:53] bersace commented on #380
Fait. Merci @jeanpommier pour le patch initial !

[2021-11-18 07:53] #380 closed

[2021-11-18 11:52] diegodblr commented on #390
Hi @bersace. Thanks for your help. But i need your help to understand how i configure the ldap2pg.yml to put all users from my active directory in my database postgresql.

[2021-11-18 14:24] bersace commented on #390
Hi @diegodblr You make me think of a quickstart documentation. It seems that documentations misses a guide. I'll start by answering your questions here and will eventually end up by writing a propery guide in the documentation. Here is the pitch :

ldap2pg computes from a YAML file an expected configuration or roles and privileges, inspect a PostgreSQL cluster and sync it to match the expectation.

[2021-11-19 11:50] diegodblr commented on #390
Hi @bersace!

I am using the https://raw.githubusercontent.com/dalibo/ldap2pg/master/ldap2pg.yml and now there is no error. I saw that the ldap2pg created new users in the postgresql: ldap, ldap_roles, owners, readers and writers. But no one user from my active directory. I saw that the ldap2pg did not tryied to connect in my ad. When i use ldapsearch -v -x -H ldap://ad.host.com.br -D "CN=svc,OU=S

[2021-11-19 12:40] diegodblr commented on #390
I made the upgrade version from the ldap2pg to 5.7 and now it is trying to connect to my active directory, but there are no new users in my postgresql.

![image](https://user-images.githubusercontent.com/22057262/142624158-71155239-2cb6-4a7f-bf54-128dfe82a44b.png)

[2021-11-19 13:29] diegodblr commented on #390
@bersace , thanks for your patience. After the upgrade of the ldap2pg is running well. It created all the user in my active directory.

![image](https://user-images.githubusercontent.com/22057262/142630362-8c1c1c98-ad3a-4646-ac18-8421eb44a2a8.png)

[2021-11-19 13:55] bersace commented on #390
Hi @diegodblr

You should not define both user (for SASL) and binddn (for simple bind).

I'm not sure whether 5.7 changes anything about querying LDAP. I only update the config handling.

Do you have other questions ?

[2021-11-19 14:07] diegodblr commented on #390
All is working fine using ldap, but when i put ldaps there is an error.

![image](https://user-images.githubusercontent.com/22057262/142635623-2933597c-62d3-49bb-8218-9d8a4cb45d5b.png)

[2021-11-19 14:10] diegodblr commented on #390
Sorry, i think the error was because the port was wrong.

[2021-11-19 14:12] bersace commented on #390
@diegodblr yes. You may use the new startls option in ldap2pg 5.7. The libldap message is not very expressive.

[code]

[2021-11-22 12:34] diegodblr commented on #390
Hi @bersace !

How can i authorize a user from my active directory in an specific database and schema?

[2021-11-30 17:53] #390 closed

[2021-11-30 17:54] diegodblr commented on #390
All is working well.

[2021-12-01 12:39] diegodblr opened #395 "I am owner in the database and schema but i can't view the tables"
I am owner in the database and schema but i can't view the tables. In the ldap2pg.yml i put myself in the group owner. When i log in to the database i can create a new table in the schema, but i can't view the table that i created.

CREATE TABLE myschema.accounts27 (
 user_id serial PRIMARY KEY,
 username VARCHAR ( 50 ) UNIQUE NOT NULL,
 password VARCHAR ( 50 ) NOT NULL,
 email VARCHAR ( 255 ) UNI

[2021-12-01 13:02] bersace commented on #395
Hi @diego. You may need `ro` privileges on `pg_catalog` schema.

[2021-12-01 13:24] diegodblr commented on #395
HI @bersace . How can i do that?

[2021-12-01 13:32] bersace commented on #395
@diegodblr  Something like :

[code]

Actually, if you don't know about this, you should adapt `schema_query` to exclude `pg_catalog`.

[2021-12-01 13:37] diegodblr commented on #395
How can i adapt schema_query to exclude pg_catalog? I just want to view the tables that i created.

[2021-12-01 13:51] bersace commented on #395
Hi @diegodblr . I need debug logs to help you. Can you share them ?

[2021-12-02 12:05] diegodblr commented on #395
Do you need all the ldap2pg debug log?

[2021-12-02 13:05] bersace commented on #395
In doubt, yes. Please ensure there is nothing private when sharing.

[2021-12-02 13:32] diegodblr commented on #395
Can i put all the text here? I can't attach files.

[2021-12-02 14:11] bersace commented on #395
Use ```<details></details>``` as in issue template to wrap long copy paste in collapsable section. Otherwise, send me the file at etienne DOT bersac AT dalibo DOT com.

[2021-12-02 14:59] diegodblr commented on #395
Only to explain my situation, i have an user diego from active directory. And i am owner from test database. I can create tables, insert and select. But i cant' view the description of the table (\d command).
[ldap2pg.log](https://github.com/dalibo/ldap2pg/files/7642881/ldap2pg.log)

[2021-12-03 08:34] bersace commented on #395
@diegodblr can you share the *redacted* ldap2pg.yml file ?

[2021-12-03 10:02] m3nthal commented on #387
I think this one could be closed. The root cause was network.

[2021-12-03 10:02] #387 closed

[2021-12-03 13:02] bersace commented on #387
@m3nthal , you're welcome. If a better message would help, please suggest :-)

[2021-12-06 11:50] diegodblr commented on #395
@bersace , thanks for your help. I attached the ldap2pg.yml.
[ldap2pg.txt](https://github.com/dalibo/ldap2pg/files/7660421/ldap2pg.txt)

[2021-12-07 10:22] bersace commented on #395
@diegodblr YML grants privileges on schema `test`. Issue description shows an error on schema `myschema`. Is it related ?

You can use functions `has_*_privilege` to investigate which privilege is missing. See https://www.postgresql.org/docs/14/functions-info.html#FUNCTIONS-INFO-ACCESS-TABLE .

[2021-12-07 12:16] diegodblr commented on #395
No Sorry, i needed to change all the file to avoid expose private data. I am using the same name to database and schema. So in this case the name of database and schema is test. There are no error during all the scenario.

[2021-12-07 15:11] bersace commented on #395
What returns

[code]

?

[2021-12-07 15:50] diegodblr commented on #395
![image](https://user-images.githubusercontent.com/22057262/145061519-69a856f3-0a16-4c6c-9038-8ebabfdfdf59.png)

[2021-12-08 09:02] bersace commented on #395
@diegodblr Do you have logs of changes on role public ? You may exclude `public` role from synchronisation.

[2021-12-08 09:04] bersace commented on #395
Test it  with:

[code]

[2021-12-08 11:07] diegodblr commented on #395
Hi @bersace , Where can i see the logs of changes? Maybe to exclude public role is a good idea. But when i make the command \du+ there are no public role.

![image](https://user-images.githubusercontent.com/22057262/145197372-6d96e318-2a4a-44bf-b0df-ebd983241720.png)

[2021-12-08 11:11] bersace commented on #395
public is not a real role. It's a pseudo-role that is inherited by **everyone** unconditionnaly. It looks like somewho, public privilege on pg_catalog got revoked. Maybe by ldap2pg. Please keep traces of ldap2pg to audit what happened.

for now, I suggest you to remove `public` either by editing `managed_roles_query` or by adding it to blacklist.

[2021-12-08 11:18] diegodblr commented on #395
Ok, i will try to use blacklist. Is this correct?

postgres:
  blacklist: [public]

[2021-12-08 11:25] bersace commented on #395
@diegodblr see https://ldap2pg.readthedocs.io/en/latest/roles/#ignoring-roles

[2021-12-08 11:30] diegodblr commented on #395
I putted the blacklist: [public] in the ldap2pg.yml, but there are no results.

![image](https://user-images.githubusercontent.com/22057262/145201277-6d2853fb-b5f3-4d3b-a084-c8abe865a9a0.png)

![image](https://user-images.githubusercontent.com/22057262/145201097-7d666fff-5398-48c9-873b-4674e3892ec5.png)

[2021-12-08 11:54] diegodblr commented on #395
Only with postgres user i have permission.

![image](https://user-images.githubusercontent.com/22057262/145204187-ac0763ca-cbbe-452a-94bd-589cb592652f.png)

[2021-12-08 12:50] bersace commented on #395
You must regrant privileges on public. If it's a test database, you better restart from scratch.

[2021-12-08 13:43] diegodblr commented on #395
Yes, this is a test database. How can i regrant privileges on public for all my owners in the ldap2pg.yml? Can you help me?

[2021-12-08 14:12] bersace commented on #395
If you exclude public from ldap2pg, ldap2pg can't reset privileges on public. You'd better restart from scratch.

[2021-12-08 14:32] diegodblr commented on #395
Ok, if i understand you i need to putt in the balcklist field the role public and then i need to restart from scratch. Since that i can execute the ldap2pg and the owner will can view the table details. Is this correct?

[2021-12-08 14:46] bersace commented on #395
by restart from scratch, i mean recreate the Postgres cluster from scratch.

[2021-12-08 17:09] bersace commented on #395
@diegodblr You must revoke this privilege from public.

[code]

[2021-12-09 11:06] diegodblr commented on #395
@bersace , i think in production it is impractical because there are so many groups and users in active directory. The idea is all process is automated by ldap2pg. Do you have any idea?

[2021-12-09 14:19] bersace commented on #395
There is something else in the air. I built a testbed and tested your configuration and it's working fine:

<details><summary>ldap2pg.yml</summary><pre>
#
#
#       L D A P 2 P G   S A M P L E   C O N F I G U R A T I O N
#
#
# This is a starting point configuration file for ldap2pg.yml. Including static
# roles, groups, privilege and LDAP query.
#
# This configuration assumes the following princip

[2021-12-13 11:04] diegodblr commented on #395
Hi @bersace, in my test all is working fine. I can access only the databases that i am owner, writer or reader. And i can see the descrition of table that i created. Thanks for your support.

[2021-12-13 11:29] bersace commented on #395
@diegodblr De nada :-)

[2022-01-07 11:20] diegodblr opened #396 "Failed to load configuration: Refuse to load ldap:password from world readable file."
Hi @bersace ! Good new year and Christmas!

I am trying to install ldap2pg in another server anda my enviroment is:

ldap2pg --version
ldap2pg 5.7
psycopg2 2.8.6 (dt dec pq3 ext lo64) libpq 13.1
python-ldap 3.4.0
Python 3.6.9 (default, Dec  8 2021, 21:08:43)
[GCC 8.4.0]

But when i try to execute the ldap2pg, there are the error "Failed to load configuration: Refuse to load ldap:password from worl

[2022-01-07 13:09] diegodblr commented on #396
Sorry man. The solution is very simple and there are in the documentation: https://ldap2pg.readthedocs.io/en/latest/cookbook/.

$ chmod 0600 ldap2pg.yml

[2022-01-07 13:09] #396 closed

[2022-01-10 11:25] diegodblr opened #397 "Automatic logout"
Hi @bersace!

Do you know how i can automatic logout a user from postgres when this user is removed from a group in active directory?
Because the ldap2pg remove all permission from user when they are removed from the group, but they still connected in the database and only when they make logout, they cant login in the database. I would like to know if is possible to do automatic logout by the ldap

[2022-01-11 15:50] bersace commented on #397
Hi @diegodblr Good point. The idea is to kill backends with targetted user before dropping it ?

[2022-01-12 11:27] diegodblr commented on #397
The idea is just logout the user at same time that the user is removed from the active directory group.
 Example: i have two groups in active directory - database1 and database2. My user is in group database1 and i have owner permissions in the database1 on postgresql. I am loged in to this database1. But i resolve to remove my user from database1 group in active directory. Now i am in the databas

[2022-01-24 10:27] uspen opened #398 "Reassign role"
When the role to drop already assigned to postgres the role is not deleted

## ldap2pg.yml

<details><summary>ldap2pg.yml</summary>
postgres:
  dsn: "postgres://:5432/?host=/run/postgresql"
  databases_query: [postgres]
  blacklist:
  - postgres

sync_map:
  - description: "Setup static roles"
    roles:
    - names:
      - ldap_ro
      - ldap_rw
      - ldap_admin
      options: NOLOGIN
  - des

[2022-01-24 13:54] diegodblr commented on #398
You need to avoid to assign roles to postgres. Configure all the ldap2pg.yml to your personal role. For example, here i created a role called my_role. Then i opened the ldap2pg.yml and i replaced **all** the words ldap_role for my_role.

[2022-01-24 14:03] bersace commented on #398
I'm thinking of a new paramter :

[code]

If undefined, ldap2pg reassigns to current session role.

What do you think of this feature ? Is it enough to express your need ?

[2022-01-24 16:06] uspen commented on #398
@diegodblr I understand, but its uncomfortable

@bersace Good feature! I need it ASAP, as far as you are comfortable

Thank you for fast answer!

[2022-03-16 08:34] uspen commented on #398
Could you consider this possibility?

[2022-04-05 15:18] alehaa opened #399 "Exception on blacklist query"
## ldap2pg.yml

<details><summary>ldap2pg.yml</summary>

[code]
</details>

## Expectations

`ldap2pg` should execute the query and use its returned rows as blacklist. Instead it raises an exception.

## Verbose output of ldap2pg execution

<details><summary>Verbose output</summary>

[code]
</details>

[2022-05-03 07:31] bersace commented on #399
Hi @alehaa , sorry for the late answer. I missed the notification.

Why is the query not in `postgres:` block ?

[code]

[2022-05-03 07:37] bersace commented on #399
Ok, I reproduced.

[2022-05-03 08:09] #399 closed

[2022-05-03 08:11] alehaa commented on #399
Thanks for fixing! :)

[2022-05-03 08:14] alehaa commented on #397
Maybe we can implement a more general approach like executing a query after `CREATE ROLE`, `ALTER ROLE` and `DROP ROLE`? A default for dropping roles could be the query to kill the session, but other queries like refreshing views could be configured, too.

[2022-05-03 12:15] bersace commented on #397
Yep. What do you think of https://github.com/dalibo/ldap2pg/issues/171#issuecomment-491708103 ?

[2022-05-05 14:41] exprok opened #405 "SASL_MECH triggers SASL authentication"
Hello!
I use BINDDN but ldap2pg tries to use SASL

maybe it's because there is line

`SASL_MECH GSSAPI`

in file /etc/openldap/ldap.conf

How to configurate it correctly?

[code]

## ldap2pg.yml

<details><summary>my.yml</summary>
</details>

[code]

[2022-05-05 15:14] bersace commented on #405
Hi @exprok , how do you configure `ldapwhoami` or `ldapsearch` ?

[2022-05-05 15:26] exprok commented on #405
I dont configure these utilities, but freeipa manages configuration of openldap.

If I remove 'SASL_MECH GSSAPI' from /etc/openldap/ldap.conf then ldap2pg  works correctly.

[2022-05-06 13:16] bersace commented on #405
@exprok yep, ldap2pg reads effectively SASL_MECH from this file.

[code]

ldap2pg switches to SASL if `SASL_MECH` is defined. That's a feature. What if you set `LDAPSASL_MECH=` empty environment variable ?

[2022-05-11 07:36] exprok commented on #405
Hi, @bersace
thank you very much, it's works normally

[2022-05-11 07:47] bersace commented on #405
@exprok you're welcome.

I'm wondering whether documentation should state the difference between ldaputils and ldap2pg regarding SASL activation.

[2022-05-17 10:00] arjan-saly-tfs opened #406 "Handling LDAP Referrals"
Hi,
First of all thanks for this great tool and superb documentation. As a database specialist I have no knowledge of Active Directory/LDAP, YAML or Python,  but thanks to your documentation I was able to setup a successful synchronization from AD to PostgreSQL.

However, now I run into an issue I can't find a solution for:
We have multiple synchronized active directories, at least one in EMEA and

[2022-05-17 14:16] arjan-saly-tfs opened #407 "How to force the use of simple authentication (/binddn) instead of SASL"
Hi,

When I use ldapsearch to test my connection, all works fine using the -x and -D switches (Simple authentication with binddn), but when connecting using SASL, does not seem to work.

How can I force ldap2pg to use simple authentication with binddn, similar to the ldapsearch swith combination -x and -D?

[2022-05-23 09:27] arjan-saly-tfs opened #408 "Windows support"
Hi,
All documentation is Linux based. However, we have some PostgreSQL databases running on Windows.

Is it possible to run ldap2pg on a windows environment?

Thanks!
Arjan

### Tasks

- [ ] Add a CI job/Workflow for Windows
- [ ] Document Windows installation

[2022-05-23 09:31] bersace commented on #408
Hi @arjan-saly-tfs thanks for your feedbacks.

I don't have experience of running ldap2pg on Windows. Note that ldap2pg does not requires to run on the same host as PostgreSQL.

ldap2pg has few dependencies. It worth to give it a try using pip. I welcome feedbacks on this.

[2022-05-23 11:52] arjan-saly-tfs commented on #408
Giving it a try and followed these steps:

- Install latest version of Python (3.10.4)
- On the Windows command prompt I enter "pip install ldap2pg psycopg2-binary"  (Skipping the Apt install of ldap/sasl libraries)
- During install, pip installs dependent package python-ldap
- During build it fails because it needs "Microsoft C++ Build Tools", including a link to a Microsoft page where I can down

[2022-05-23 12:23] bersace commented on #408
Yes, you need libldap-dev and libsasl-dev equivalent for Windows. ldap2pg uses OpenLDAP project which should run on Windows.

[2022-05-23 13:30] arjan-saly-tfs commented on #408
Hmm, the way I understand the various information on the web, python-ldap actually is a replacement for libldap-dev, However, even there windows support is limited "Unofficial packages for Windows". (Or do I misunderstand?)

It starts to look to me like it can be done, but it'll take too much effort (already). I'll leave it for what it is. Spinning up a Linux environment for this is probably easer

[2022-05-23 13:54] bersace commented on #408
python-ldap is the official OpenLDAP binding. It's a C Extension requiring compiling with openldap development files.

You'll find pre-built binaries by following https://www.python-ldap.org/en/python-ldap-3.3.0/installing.html

Yes, that's fair. If someone wants to contribute a CI job to executes tests on windows and improve documentation, that would be good. Updating title.

[2022-05-30 16:58] alehaa commented on #171
I would like to see both. Some queries might be useful on a global level, others just for specific roles.

[2022-05-30 16:58] alehaa commented on #397
Thanks for referencing. Think this would solve the feature request, too.

[2022-06-03 12:27] arjan-saly-tfs opened #409 "Cross domain queries (same Active Directory, different "forest")"
Hi,

So, we have different domains in our organization, like:
1. ldap://domain1.company.com
2. ldap://domain2.company.com
In Active Directory these are defined as different "forests" (I'm not an AD expert, just writing what our expert told me to....).

Regardless of which domain I'm in, logging in to services normally works.

But when querying using ldapsearch, I run into an odd problem:
- When I

[2022-06-03 12:46] bersace commented on #409
Hi @arjan-saly-tfs . Interesting situation. I think that forest are more common than one may think because of enterprises bought by another.

Does some users have some accounts in the both trees ? What do you think of having two synchronisation, one for each tree of the forest ?

I need to investigate deeper in you use case.

You mean #407 ? I'll take an eye on this too.

[2022-06-03 12:47] bersace commented on #407
Can you share verbose output ? Does comment https://github.com/dalibo/ldap2pg/issues/390#issuecomment-974093715 help you ?

[2022-06-03 13:30] arjan-saly-tfs commented on #409
Hi @bersace,
Thanks for the quick reply. As far as I know, users don't have accounts in both trees. The forests are more on a geographical base.

We considered separate synchronization for each tree with different search users. It is an last resort option, but not the a preferred one. This is because we're facing more than two trees. Not sure how many we have or need to query, at least 2 probably

[2022-06-03 14:16] arjan-saly-tfs commented on #407
Yeah, this part of the comment you refer to, did help:

So, when regarding this bit of the configuration:

#########################################
ldap:
  uri: ldap://somedomain.company.com
  binddn: CN=username,OU=Users,OU=Global,DC=somedomain,DC=company,DC=com
  # For SASL
  #user: username
  password: somepassword
#########################################

When the "user:"-line is activated,

[2022-06-03 14:44] arjan-saly-tfs commented on #409
Update: your answer provided in #407 does let me login to the two different domains using the same search user and binddn.
Still puzzles me why I can connect to the "other domain" using binddn and not using SASL.

However, now I became aware of another issue: In the config, the uri is defined, directing to domain1.
For my groups in domain2, I need to define another uri to be used for that query as

[2022-06-07 07:27] bersace commented on #409
It looks like SASL is bound to the domain. I'm wondering if ldap2pg could handle multiple LDAP connection like it handle a connection to each database on Postgres. I mean every parameters are the same, just the domain may vary like a database. I have absolutely no experience like this. That would be good to have simple setup to test this.

By URI, do you mean LDAPURI parameter ? Can you share some

[2022-06-07 07:38] bersace commented on #407
@arjan-saly-tfs I really advice you to not configure LDAP in the yml but using ldaprc and envvar, so that ldap2pg and ldapsearch are configured at the same time. This helps a lot.

[2022-06-07 07:56] bersace commented on #406
Hi @arjan-saly-tfs,

Since ldap2pg 4.13, ldap2pg has the same behaviour as ldapsearch, referrals are disabled by default. https://ldap2pg.readthedocs.io/en/latest/changelog/?h=referrals#ldap2pg-413

I agree that partiionned directory is a standard feature and ldap2pg should handle this. I need to spike this issue and design a way to handle this. ldap2pg design is based on the hypothesis of a singl

[2022-06-07 07:57] bersace commented on #406
@arjan-saly-tfs except from URI, can you reuse user & password accross directory servers ?

[2022-06-07 08:13] arjan-saly-tfs commented on #407
@bersace What's the reason for this advice, what are your arguments?

To explain my reasons for preferring this in the yml (apart from that it's easy testing):
When using ldaprc there's only one LDAP connection definition defined for a linux user (ldaprc). Then it's much harder  to work with different ldap users for query (referring to #409) as that would require two different linux users for each

[2022-06-07 08:30] bersace commented on #407
Hi @arjan-saly-tfs , thanks for the answer.

Can't you have multiple ldaprc files and choose the one you need using `LDAPRC` or `LDAPCONF` environment variables ? man 5 ldap.conf may help you.

I don't know what is *user-level* environment variables. Usually, a script wraps ldap2pg execution to load and/or define environment variables, eventually generates a dynamic configuration before lauching l

[2022-06-07 08:32] bersace commented on #407
Regarding the original description, I'm wondering if ldap2pg should have an explicit option to use simple auth like `-x` cli switch of ldap utils.

[2022-06-07 08:56] arjan-saly-tfs commented on #409
Here's a redacted example from the ldap2pg.yml I used to clarify the uri. I meant the "uri:" parameter in the ldap: section.

For the first run on domain1, this would be the config:
#########################################
ldap:
  uri: ldap://domain1.company.com
  binddn: CN=username,OU=Users,OU=Global,DC=domain1,DC=company,DC=com
  #For SASL
  user: username
  password: somepassword
############

[2022-06-07 09:03] arjan-saly-tfs commented on #406
When using binddn I can. When using SASL I cannot, then I need a different user/password for connection to the other "servers".

By the way, after starting this ticket, I learnt that these different domain servers, actually are are different "forests".
Hence, this issue is closely related to #409 .

[2022-06-07 13:27] bersace commented on #409
binddn is unused with SASL. That would be good if ldap2pg logs about this. You'd better not defining it when using SASL to avoid confusion.

Can you share a redacted verbose output of this execution ?

Yes. For this issue, do you need to specify a different server for each ldapsearches ? Something like this :

[code]

[2022-06-07 13:31] bersace commented on #406
Handling referrals requires multiple binds to each server. I could design a first implementation that only accepts multiple LDAP connexions sharing same binddn/password or SASL user/password. I need to check how ldapsearch follows referrals to match the same behaviour.

For the record, the first issue about referrals was https://github.com/dalibo/ldap2pg/issues/228 .

[2022-06-07 14:45] arjan-saly-tfs commented on #409
`$ $ sudo docker run --rm -v ${PWD}/ldap2pg.emea.yml:/workspace/ldap2pg.yml -e VERBOSITY=DEBUG dalibo/ldap2pg
[ldap2pg.config       DEBUG] Trying ./ldap2pg.yml.
[ldap2pg.config        INFO] Using /workspace/ldap2pg.yml.
[ldap2pg.config       DEBUG] Read verbosity from argv.
[ldap2pg.config       DEBUG] Read version from YAML.
[ldap2pg.config       DEBUG] Read ldap:uri from YAML.
[ldap2pg.config

[2022-06-07 15:28] arjan-saly-tfs commented on #409
Unfortunately this doesn't seem to work:
[code]

[2022-06-07 15:31] bersace commented on #409
The sample YAML was a *proposition* of a new `uri` ldapsearch parameter in YAML. Does this allow you to express what you mean by *cross-domain queries* ?

[2022-06-07 15:33] arjan-saly-tfs commented on #406
I don't use a specific SASL method by choice (keep in mind I'm a database expert, not an LDAP expert)

But does this line from the verbose output give the answer?
[code]

[2022-06-07 15:36] arjan-saly-tfs commented on #409
Ah, OK, sorry for misunderstanding.

Yes, it does.

Might want to take it one step further though by enabling to specify binddn/userid/password as well?

[2022-06-07 15:37] bersace commented on #409
...

I confirm the bug. The docker image miss some sasl2 modules. I'll patch this.

[2022-06-08 06:46] bersace commented on #407
Closing in favor of #405

[2022-06-08 06:46] bersace commented on #409
@arjan-saly-tfs latest docker image has SASL modules, fixing `Unknown authentication method` error.

[2022-06-08 06:58] #405 closed

[2022-06-08 08:01] #397 closed

[2022-06-09 08:13] arjan-saly-tfs commented on #407
I think that would at least be much clearer.

On the other hand, if current behavior would be documented/explained inline in the ldap2pg.yml file, that would probably work as well....

[2022-06-09 08:28] arjan-saly-tfs commented on #409
@bersace I tested the new docker image and it SASL now works fine indeed.
Unfortunately with the same domain/forest limitations as I run into with the dockerless version.

[2022-06-09 15:02] bersace commented on #409
That's expected. Thanks for the confirmation.

This is a new feature. I'm ok to add multi-ldap-server support in ldap2pg as long as it's the same auth for all servers.

[2022-06-09 15:07] bersace commented on #409
That feature is a good step toward #406

[2022-06-10 08:08] arjan-saly-tfs commented on #409
For your additional information: This week we made the design choice to step away from existing AD groups, define dedicated AD groups for the ldap2pg sync and keep those all in one ldap domain. I have already seen that when a group in domain1 holds members from domain2, they're synchronized fine, This means that for now, there is no urgent need anymore for synchronizing from multiple ldap domains.

[2022-06-10 08:24] arjan-saly-tfs commented on #407
Looks to me there are two ways of forcing Simple Bind. I had tried leaving SASL_MECH empty, but that didn't work for me. Perhaps I did something wrong there.

For me, the solution was found in putting a hashtag (`#`) before the "`username:`" line the `ldap:` section:
[code]
I know you're not in favor of specifying this information in the yml file. But especially for those not familiar with LDAP, i

[2022-06-10 08:57] bersace commented on #409
I need small steps to implement such big feature. Long PR is bad for managing the project. This is why I want #409 before #406. Maybe with a release in-between.

[2022-06-10 09:00] bersace commented on #409
This is **very** wise. Provide some kind of LDAP *view" server side is way better : it make synchronization much much faster and simpler to design and configure.

That's very good news for you. I can't warranty delay when contributing to ldap2pg until we have a deal. Dalibo offer 20% of my work time to contribute to the community, that's very fair but it take time.

Yep, I adopted these features i

[2022-06-10 09:02] bersace commented on #407
Ok, I'll review this. Reopening.

[2022-06-13 16:51] arjan-saly-tfs opened #415 "Connecting to local postgresql database using the "peer" / SSO method runs in error"
### The whole picture
On my Linux/PostgreSQL server, I have a dedicated linux user (`ldap2pg`) to schedule and run ldap2pg.
This user also exist as a connect-role in my database. As both user and database are on the same server, I specify "peer" as an allowed  connection method for this user in pg_hab.conf:
[code]

This way, I don't have to specify a user or password when trying to connect when lo

[2022-06-21 14:32] PipeItToDevNull opened #416 "Running the container in podman issues"
[code]

No method I have tried to run this container works in podman.

Another run that is more in line with my goal fails with the same error.
[code]

[2022-06-21 14:44] PipeItToDevNull commented on #416
I was able to `retab` the `docker-entrypoint.sh` and build my own image to get past this?

[2022-06-22 06:09] bersace commented on #415
Hi @arjan-saly-tfs , I'll take a look at it. We have no commitment on answer delay on GitHub. Usually, I take some days to work on ldap2pg on a monthly basis. So don't worry if an issue is unanswered for a few weeks.

[2022-06-23 06:49] bersace commented on #416
Hi @PipeItToDevNull, can you share your Dockerfile and entrypoint script ? What version of podman do you use ? What is the architecture of your docker host ?

[2022-06-23 06:59] bersace commented on #415
Hi @arjan-saly-tfs ,

Can you share me `ldap2pg --version` output ?

`postgresql:///postgres` uses UNIX socket (peer) authentification while `postgresql://localhost:5432/postgres` uses TCP connection and requires a password (unless trust method is used, which is unlikely the case).

ldap2pg 5.8 improved the handling of DSN targeting the different databases in the cluster. I suggest you to upgrade.

[2022-06-23 11:30] arjan-saly-tfs commented on #415
Hi @bersace,

Thanks for your answer, it seems like upgrading to 5.8 worked:

Here's the version output:
[code]
As I have been deinstalling/reinstalling both ldap2pg and its prerequisites for documentation purposes, I'm not 100% certain this was version on which the issue occurred.

Therefore I re-tested and it _now works as expected_ for postgresql:///postgres .

I assume I was on an older versio

[2022-06-23 11:30] #415 closed

[2022-06-23 15:50] bersace commented on #416
Are you running on ARM64 or POWER CPU ?

[2022-06-23 16:45] PipeItToDevNull commented on #416
Ahhhhh, it is ARM so that would make sense. I am in the Oracle cloud and it didnt occur to me ARM could be an issue

[2022-06-24 13:23] #416 closed

[2022-06-27 14:48] arjan-saly-tfs opened #417 "Is it possible to manage the roles of (Non-ldap) database users through ldap2pg?"
Hi ldap2pg community,

Sorry if this question has already been asked before, but I then can't find the answer.
Also, I do understand my question goes beyond the goal of ldap2pg, but it seems to me this might be possible. Hence my question.

So, here's my case:
I have two types of users in my database:

1. "Application users": These are typically created manually in the database, connect by providi

[2022-07-12 18:09] testemunha200 opened #418 "Error with int password in YAML"
## I need help writing my ldap2pg.yml

Hi everyone, I'm new to LDAP and I'm trying to understand and apply ldap2pg into my company.
We have over 300 servers running PostgreSQL and we want to be able to include and delete roles into all of those servers as needed.
I'm trying to follow the documentation on the website, but I'm struggling a little.
I want to use the LDAP over TCP mode, and login as c

[2022-07-13 14:18] testemunha200 commented on #418
Hi @bersace I removed all the "ldap:" part of the yaml.
And I configured the "/etc/ldap/ldap.conf" file and removed "ldaprc" file.
After that, it worked correctly.

[2022-07-14 16:41] testemunha200 opened #419 "Can I have multiple postgresql servers?"
Hi, I was reading the documentation, and I didn't find anything that answer my question.
I'm wondering if I'm able to configure ldap2pg to connect to multiple postgres servers, and not just one.
My setup would be like:
1x LDAP Server
1x LDAP2PG
10x postgres servers, which would need to have the same users / roles

Thanks in advance.

[2022-07-18 09:42] love2freefly opened #420 "Authentication with PostgreSQL - password is in the clear, can it be encrypted"
HI. My company's security policy won't allow passwords to be stored in the clear, so the yaml file would need to be encrypted. Or ldap2pg would need to read the password from an encrypted source. Integration with Vault might be an option. Is there a way to do this in the current version or are there plans to include this functionality please as without it we cannot use the product and it looks ver

[2022-07-21 14:48] schmandr opened #421 "Specify which user is going to own DB objects of dropped DB roles"
## What do you want?

I'm using ldap2pg with a non-superuser called _ldap2pg_, which has the _CREATEROLE_ privilege. My database is owned by user _postgres_, and my database objects are owned by user _ddluser_, which has CREATE privilege on the DB. ldap2pg is used just for managing DB roles, not for managing privileges. So the _ldap_roles_ don't own any DB objects.

When an LDAP role is to be remo

[2022-07-22 12:04] schmandr commented on #421
Ah, I already have found the solution :smile:.

In my use case I can set `databases_query: [none]`, as ldap2pg is not used for managing privileges, and because none of my LDAP users is ever owning any DB object.
Now, no more `REASSIGN OWNED BY ...` happens anymore. Just a `DROP ROLE ...`, and that's it. Problem solved.

[2022-07-22 12:04] #421 closed

[2022-07-29 08:39] Dallery commented on #269
Hi,

I'm not sure, but this fonctionality (managing privileges on tables, views, etc.) is not implemented, is it ? I would like to manage SELECT, INSERT, etc. on some tables in some schemas, but i did not find in the documentation how do it. Could you please confirm if it is possible to manage tables, or not ? Because i have tried the syntax in your issue, but i got some errors.

Thanks

[2022-08-01 07:44] bersace commented on #419
Hi @testemunha200 ,

ldap2pg synchronizes a single PostgreSQL server. You need to execute ldap2pg 10 times, each time configured to access a single PostgreSQL server.

Is it clear for you ?

[2022-08-01 07:49] bersace commented on #420
Hi @love2freefly ,

Can you use environment variables ?

Note that ldap2pg refuses to read passwords from a world readable file.

[2022-08-01 08:14] bersace commented on #269
Hi @Dallery . ldap2pg does not manage per-object privilege. This issue is just an open discussion.

[2022-08-01 08:15] bersace commented on #269
I'm wondering the performance cost of inspecting zillons of objects.

[2022-08-01 12:44] bersace commented on #417
Hi @arjan-saly-tfs ,

Yes, ldap2pg can create static roles and configure them just like roles created from LDAP searches. Just skip the `ldapsearch` stanza:

[code]

You can't user curly substitution in such roles.

Is it clearer for you ?

[2022-08-01 14:50] testemunha200 commented on #419
Hi @bersace got it, thanks. I made a little script that worked great for me, I will include a simplified version because maybe it will help someone:
[code]

[2022-08-01 14:50] #419 closed

[2022-08-01 15:11] bersace commented on #419
@testemunha200 good. I suggest you:

[code]

[2022-08-08 12:12] schmandr opened #422 "ldap2pg should not revoke `ldap_roles` from a role that is to be dropped"
In the case where _ldap2pg_ needs to drop an LDAP role, the role is first removed from the `ldap_roles` role before it is actually dropped: https://github.com/dalibo/ldap2pg/blob/4082b163a0c282395eda149b34183c29913b13a2/ldap2pg/role.py#L129
Now, if anything goes wrong after this `REVOKE` command (e.g. if the `REASSIGN OWNED BY ...` or the `DROP OWNED BY ...` command fails for some reason), the use

[2022-08-10 08:55] bersace commented on #422
Hi @schmandr , thanks for this excellent feedback ! I'll take a look at this.

[2022-08-11 16:13] arjan-saly-tfs commented on #417
Hi @bersace,

Thanks for explaining. Tried it and this works very well.

One follow up question though: In your example, no password is mentioned. By result the role is created without a password being set. _Is it possible to set an MD5 password for this role "myapprole" using ldap2pg?_

(Not sure if I would really want to have such a password in a config file like this. I'm exploring to what exte

[2022-08-12 14:50] arjan-saly-tfs commented on #417
Hi @bersace,

Thanks for confirming, fits my expectations.

When looking back to my original question however, the answer actually is "no" as I mentioned in my first bullet these "application users":

Thus:
- Yes, ldap2pg can create users (roles with connect privilege)
- No, ldap2pg cannot set passwords for them

Hence, using ldap2pg to create and maintain non-ldap user-roles can be useful when Au

[2022-08-12 15:03] bersace commented on #417
Hi @arjan-saly-tfs yes. static roles in ldap2pg are usualy groups.

[2022-10-26 19:38] vikingUnet opened #428 "Add asctime word to logging formatter"
Hello!
Sometimes it is usefull to see datetime of starting each launch and each operation in logfile.
Can we add this optional ability to logging iso timestamp for each operation? I have an idea how in can be implemented :D

[2022-10-27 06:11] bersace commented on #428
Hi @vikingUnet , thanks for reaching. `DEBUG=y` is a hidden feature enabling timestamp on log message.

[2022-10-27 11:00] vikingUnet commented on #428
DEBUG feature like verbose option produce wide log statistics, but there is no datetime field in it =(

[2022-10-27 13:16] bersace commented on #428
It looks like I missed the point. You want a startup message stating the datetime of ldap2pg launch ?

something like

[code]

[2022-10-27 13:57] vikingUnet commented on #428
It will be nice to at least print datetime in startup message.
But i suggest to starting each line to stdout with timestamp, like it will be if log formatter template is
`'format': '[%(asctime)s] %(message)s'`
[link to line in source code to that place](https://github.com/dalibo/ldap2pg/blob/fc0c069fe53ac54c77e470dcbfd35a93ba5def46/ldap2pg/config.py#L639)

[2022-10-27 14:02] bersace commented on #428
I'm fine with it.

[2022-10-27 14:03] bersace commented on #428
Would you mind the propose a patch ? I suggest something more syslog/postgresql-like :

`%(asctime)s $(levelname)s:  %(messages)`

What do you think of this ?

[2022-10-27 14:30] vikingUnet commented on #428
Yes, i would like to produce patch, it will be nice! Syslog style is ok.
In your suggestion "%(asctime)s" template will be working only in debug mode?
Or it will be printing in both modes?

[2022-10-27 16:17] vikingUnet commented on #428
Add [PR](https://github.com/dalibo/ldap2pg/pull/429) for patch it. Can you check it, please?

[2022-10-28 13:55] vikingUnet commented on #428
Add commits to resolve comments in PR.

[2022-10-31 07:32] bersace commented on #428
Fixed by #429

[2022-10-31 07:32] #428 closed

[2022-11-02 14:46] sainio opened #430 "Creating users"
Hi,
so we have created roles to the database, the role names are the same than ldap group names.
Is it possible to create users into postgres based on their memberOf -status in ldap and so that they have the roles from where the membership comes from?  Role name have a prefix, that can be used as a filter.

[2022-11-03 07:38] bersace commented on #430
Hi @sainio,

Yes. Use `ldapsearc:filter` parameter. The content of filter is LDAP specific and depends on what is available in you Directory server. Contact your directory administrator to have documentation and help about writing LDAP filters.

Is it clear for you ?

Regards

[2022-11-03 08:55] sainio commented on #430
I have no issue on listing users from ldap, the problem is what do I put into ldap2pg.yaml file to create users.  So far the dry run shows only create roles and that I dot need.

[2022-11-03 09:13] bersace commented on #430
Can you share the YAML ?

[2022-11-03 11:20] sainio commented on #430
- role:
    name: ldap_roles
    options: NOLOGIN
- ldapsearch:
    base: ou=Groups,dc=local,dc=saminet,dc=fi
    filter: "(cn=sgNZV_DWT*)"
  role:
    name: '{member}'
    options: LOGIN
    parent: ldap_roles

  postgres:
    dsn: postgres://root:XXXXXXX@localhost:5432/

[2022-11-03 13:04] bersace commented on #430
Thanks @sainio. Where is the filter on `memberOf`?

[2022-11-03 13:38] sainio commented on #430
Do you have any examples on how to setup create users?  All I get out of this with examples is punch of
Would execute: CREATE ROLE "CN=K858064"
type lines and I'm do not want roles, I need users to be created and have a pre-existing role assigned to them, the role has the same name which they are members in ldap.

[2022-11-03 14:21] bersace commented on #430
`member` is a distinguished name. If you want to use `sAMAccountName`, you have to reference it with `{member.sAMAccountName}`. This is terrible for performances and you should use `memberOf` instead.

[2022-11-03 14:57] sainio commented on #430
so, what kind of a config file will generate CREATE USER statements?

[2022-11-04 09:09] sainio commented on #430
So I managed to get this working for one group.  Can I get groups in one query and then loop through those groups on another to get sAMAccountName for the members?

[2022-11-04 09:23] bersace commented on #430
Hi @sainio . Yes, this depend on the model of your directory. Something like:

[code]

[2022-11-04 10:59] sainio commented on #430
This seems to fill my can of beans:

- ldapsearch:
    base: XXX
    filter: "(cn=groups*)"
  role:
    name: '{cn}'
    options: NOLOGIN
    comment: 'From LDAP group {cn}'

- ldapsearch:
    base: XXXXXX
    filter: "(cn=groups*)"
    scope: sub
    joins:
      member:
        filter: '(memberof=*)'
  role:
    name: '{member.sAMAccountName.lower()}'
    options: LOGIN
    parent: '{cn}'
    co

[2022-11-04 11:04] bersace commented on #430
Cool. If you're done, please close the issue.

[2022-11-04 11:12] #430 closed

[2022-11-04 16:17] meegoSVK opened #431 "How to use API? value = environ[env] TypeError: 'NoneType' object is not subscriptable"
Hi. I want to use this python API, but I am not able to make it work. I always get TypeError. I wanted to try it example on your site, but it is not working. Also the yaml files I am using are not working with the API.

This yaml file is working when I execute it via
`ldap2pg -c test.yaml`

<details><summary>working code</summary>

[code]

</details>

<details><summary>ldap2pg.yaml</summary>

[cod

[2022-11-07 08:02] bersace commented on #431
Hi @meegoSVK thanks for reaching.

You're right, there is a bug in environ default. You can workaround this by explicitly passing `os.environ`.

[code]

Thanks for the report.

[2022-11-07 08:03] bersace commented on #431
Just to know, why do you use Python API instead of calling ldap2pg ?

[2022-11-07 08:49] meegoSVK commented on #431
Hi @bersace !
Thanks, this solved my issue.
I would like to implement ldap2pg as a part of my AWS Lambda function.
Since AWS does not provide User management we need, this will help us a lot.
ldap2pg has everything we need and only thing we would do is to modify inputs on the fly. Without need of S3 bucket, any EC2 and only when we really need to sync it.

Thank you once again, not only for workar

[2022-11-09 11:49] vikingUnet opened #433 "Rerun error after failed drop role"
Hello again!

When i updated version ldap2pg to 5.8, i had some errors.

I have run ldap2pg with config on cluster, which was restored from another cluster (that was our mistake along time ago).

First i collect error, that drop user is impossible:
[code]

And after that error postgres is member of lookups_editors:
[code]

And next time run will produce that traceback:
[code]

Manually drop grants

[2022-11-09 12:59] bersace commented on #433
Hi @vikingUnet , thanks for reaching.

[code]

It looks like `postgres:databases` is set to `[context]`. This prevent ldap2pg to reassign/drop assigned objects in other database like `lookups` for instance.

Can you confirm this ?

[2022-11-09 17:46] bersace commented on #433
This is the purpose of `databases_query` : scope ldap2pg operation on a subset of databases.

Hmm, that's odd and may not be related to ldap2pg. I never encounter such `cache lookup failed`. You may have more help from DBA in a general PostgreSQL mailing list rather than here. I'd be happy if you share back the anwser.

Is this related to an index ? An old transaction ?

[2022-11-09 19:03] vikingUnet commented on #433
Databases_query parameter can prevent from this error in most cases, but not at all. Don't you want to raise warning instead error when can't drop role?

Anyway, at next run we have **crush loop** with ValueError at [role.py[line311]](https://github.com/dalibo/ldap2pg/blob/76768ac87dd3331c6f7797a2d46610f6ebd36ff6/ldap2pg/role.py#L311) - _Unknown member role postgres_. It is sad. To repair it we ne

[2022-11-10 08:36] bersace commented on #433
Can you share a full log output ?

It looks like ldap2pg sync_map tries to modify `postgres` roles while it's on the blacklist. Can you confirm this ?

[2022-11-30 13:31] TezkaRabota opened #434 "Database exclude"
Hi gurus,
I have 70 databases in my cluster. I want to grant access for my ldap users to 55 of them. Is there an option in ldap2pg configuration to filter the databases we want to be changed by ldap2pg?